.sidenav-container {
    position: fixed;
    top: 3rem;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif !important;
}

main.main-outlet {
    position: fixed;
    top: 5rem;
    width: calc(100% - var(--left-sidebar) - var(--right-sidebar));
    height: calc(100% - 3rem);
}

.leftsidebar {
    width: var(--left-sidebar);
    border: none !important;
    position: fixed;
    top: 0;
}

.rightsidebar {
    width: var(--right-sidebar);
}

:host {
    app-topbar {
        width: calc(100% - var(--left-sidebar) - var(--right-sidebar));
        position: fixed;
        top: 0rem;
        right: var(--right-sidebar);
        z-index: 1000000;
    }
}