.profile_data_container{
    width: 100%;
margin-top: 3rem;
overflow-x: hidden;
}
.data_row{
    justify-content: center;
}
strong.profile_data{
    margin-left:2rem;
    font-weight: 200;
    color:#00b7ff;
    display: inline-block;
    
}
strong.profile_data_label{
    color:#222;
    font-weight: 400;
    display: inline-block;
    justify-content: flex-start;
   
}