<mat-list>
    <mat-list-item>
        <h3>{{studentName}}</h3>
    </mat-list-item>
    <mat-list-item>
            <p>{{standard}}</p>
        </mat-list-item>
       
    <mat-list-item>
            <p>{{studentName}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
    <mat-list-item>
            <p>{{studentName}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
    <mat-list-item>
            <p>{{studentName}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
    <mat-list-item>
            <p>{{studentName}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
    <mat-list-item>
            <p>{{studentName}}</p>
        </mat-list-item>
</mat-list>
