<header>
  <mat-toolbar role="heading" class=" box-shadow-0 background-gradient-secondary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleLeftSidebar()" matTooltip="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button>
        <img class="avatar-sm " src="../assets/sanskar.jpg" height="32">
      </button>
      <app-breadcrumb></app-breadcrumb>
      <div class="d-flex align-items-center justify-content-center w-100" style="position: relative;">
        <app-search></app-search>
        <button mat-icon-button color="primary" class="mx-2 mat-elevation-z1 text-light "
          (click)="isListView = !isListView">
          <mat-icon class="mat-icon-sm pt-0">{{isListView ? 'view_list' : 'grid_view'}}</mat-icon>
        </button>
      </div>
      <div class="spacer"></div>
      <div>
        <button mat-icon-button color="primary" class="mx-2 mat-elevation-z1 text-light ">
          <mat-icon class="mat-icon-sm pt-0">notifications</mat-icon>
        </button>

      </div>
      <!-- <small>Sanskar Public School</small> -->

    </mat-toolbar-row>
  </mat-toolbar>
</header>