<div class="d-flex flex-column justify-content-center align-items-center h-50 w-100">
    <strong> You don’t have any records</strong><br>
    <small class="strong" style="color:#ccc;"> Try selecting by <strong>session</strong> and
        <strong>standard</strong></small>
    <small class="strong" style="color:#ccc;"> OR</small>
    <span class="px-1">
        <button mat-stroked-button color="" class="btn-dark" >
            <!-- <mat-icon class="mat-icon-sm pt-1">add_box</mat-icon> -->
            <small>
                Add Fee Structure
            </small>
        </button>
    </span>
</div>
<!-- NO PROJECTS FOUND
No Projects found with title, slug or description matching fffaf.
Please, try another filter query -->