<div class="imageContainer elevation layout rounded-lg">
    <div *ngIf="imagePreview"  class="rounded-pill elevation bg-white my-auto" style="position: absolute;left: -20px;">
        <div class="actionButtonContainer d-flex flex-column rounded-pill">
            <button type="button" mat-icon-button class="m-0 p-0 bb" (click)="fileUpload.click()"  matTooltip="choose">
                <mat-icon class="fs-16">add_circle</mat-icon>
            </button>
            <button type="button" mat-icon-button class="m-0 p-0 bb" (click)="onClickCropBtn()" [disabled]="!imagePreview"  matTooltip="crop">
                <mat-icon class="fs-16">crop</mat-icon>
            </button>
            <button type="button" mat-icon-button class="m-0 p-0" (click)="fileUploadReset()" [disabled]="!imagePreview" matTooltip="remove">
                <mat-icon class="fs-16">clear</mat-icon>
            </button>
        </div>
    </div>
    <input type="file" #fileUpload (change)="onImagePicked($event)"
        style="width: 0;height: 0;visibility: hidden;" accept="image/*">
    <div *ngIf="!imagePreview" (click)="fileUpload.click()" style="cursor: pointer;text-align: center;">
        <mat-icon 
        style="color:#666;width: 100%;font-size: 24px;">add_a_photo</mat-icon>
        <p mat-line class="text-muted py-2">Upload Photo</p>
    </div>
    <div *ngIf="imagePreview">
        <img class="thumbnail-md" [src]="imagePreview" style="border-radius: 4px;">
    </div>
</div>