<div class="box_shadow_3 layout rounded-lg"
    style="position:relative;width:200px;min-height: 200px;
    border: 2px dotted #0000008c;">
    <div class="rounded-pill box_shadow_0 bg-white my-auto" style="position: absolute;left: -20px;">
        <div class="d-flex flex-column rounded-pill ">
            <button type="button" mat-icon-button class="m-0 p-0 bb" (click)="fileUpload.click()">
                <mat-icon style="font-size: 16px;">add_circle</mat-icon>
            </button>
            <button type="button" mat-icon-button class="m-0 p-0 bb">
                <mat-icon style="font-size: 16px;">crop</mat-icon>
            </button>
            <button type="button" mat-icon-button class="m-0 p-0" (click)="fileUploadReset()">
                <mat-icon style="font-size: 16px;">clear</mat-icon>
            </button>
        </div>
        <input type="file" #fileUpload (change)="onImagePicked($event)"
            style="width: 0;height: 0;visibility: hidden;" accept="image/png,image/jpeg">
    </div>
    <div *ngIf="!imagePreview" (click)="fileUpload.click()" style="cursor: pointer;text-align: center;">
        <mat-icon style="color:#666;width: 100%;">add_a_photo</mat-icon>
        <p mat-line class="text-muted py-2">Upload Photo</p>
    </div>
    <div *ngIf="imagePreview">
        <img class="thumbnail-md" [src]="imagePreview" style="border-radius: 4px;">
    </div>
</div>