
                        <!-- //////////////////////////////////// -->
                       
                        <mat-sidenav-container class="example-container card">
                            <mat-sidenav mode="side" opened>
                                    <div class="student_profile_img">
                                            <div class="card ">
                                                <div>
                                                    <img src="https://im0-tub-com.yandex.net/i?id=a616d8c71a8741ca685aa7f725707598&n=13"
                                                        class="card-img-top">
                                                </div>
                                                <div class="card-body">
                                                        <h5>Shivendra Kumar Dwivedi</h5>
                                                        <h6> class 10th</h6>
                                                         <p mat-line>convenience : <span>Yes</span></p>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="student_profile_menu">
                                        <mat-list>                                        
                                                <a routerLink="./about">
                                                    <mat-list-item> 
                                                        <p mat-line>About</p>
                                                        <mat-icon>person</mat-icon>
                                                    </mat-list-item>
                                                </a>                                           
                                        </mat-list>
                                        
                                        
                                        

                                    </div>
                                

                            </mat-sidenav>
                            <mat-sidenav-content>

                             <router-outlet>

                             </router-outlet>
                            </mat-sidenav-content>
                        </mat-sidenav-container>
                        
                        <!-- //////////////////////////////////// -->

 