<div class="layout">
    <div class="profile">
        <div class="row">
        <div class="col-md-4">
            <div class="profile__picture"><img src="../../assets/photo.png" alt="student photo" /></div>
        </div>
        <div class="col-md-8">
            <div class="col-sm-12">
                <div class="row profile__header">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="profile__account">
                        <h4 class="profile__username">Shivendra Kumar Dwivedi</h4>
                    </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="profile__edit"><a routerLink="" class="profile__button" >Edit Profile</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="profile__stats">
                    <div class="profile__stat">
                        <div class="profile__icon profile__icon--gold"><i class="fas fa-wallet"></i></div>
                        <div class="profile__value">16
                            <div class="profile__key">Age</div>
                        </div>
                    </div>
                    <div class="profile__stat">
                        <div class="profile__icon profile__icon--blue"><i class='fas fa-user-graduate'></i></div>
                        <div class="profile__value">10
                            <div class="profile__key">Standard</div>
                        </div>
                    </div>
                    <div class="profile__stat">
                        <div class="profile__icon profile__icon--pink"><i class="fas fa-heart"></i></div>
                        <div class="profile__value">4
                            <div class="profile__key">Lives</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
             <mat-tab-group  mat-align-tabs="center" animationDuration="0ms" >
                    <mat-tab label="About" >
                            <ng-template matTabContent>
                              <app-about></app-about>
                            </ng-template>
                          </mat-tab>
                          <mat-tab label="Academic">
                            <ng-template matTabContent>
                              The Second Content
                            </ng-template>
                          </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>