.example-container {
    width:100%;
    height: 50vh;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
mat-sidenav{
    min-width:16rem; 
}
mat-tab-group,mat-tab{
    width: 100%;
}
  
.row{
    padding: 10px;
}
div{
    box-sizing: content-box;
}
.card{
    
}

.material-icons{
    font-size: 30px;
}

button span{
    font-size: 22px;
}

.action-buttons button{
    margin : 5px;
}
.mat-radio-button {
    margin: 0 12px;
  }
  .example-full-width {
    width: 100%;
  }
  td {
    padding-right: 8px;
  }
  .student_image{
      
  }
 
  button{
      margin-left: 1rem;
      
  }
 
  div.mycard{
      margin-top: .5rem;
      
      max-height: 10rem;
      min-height: 10rem;
      overflow: hidden;
  }
  @media only screen and (max-width: 600px) {
    div.card {
      margin-top: 1rem;
      margin-left: 0px;
      margin-right: 0px;
      
    }
    div.container{
        margin: 0;
        padding: 0;
    }
  }
  input[type="file"]
{
    visibility: hidden;
}