.example-container {
    width:100%;
    width: 90vw;
    height: 89vh;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
mat-sidenav{
    width:15rem; 
}
mat-list-item:hover mat-icon { color: #673ab7; }
mat-list-item:hover{
      border-right: solid #673ab7 ;
      background: rgba(102, 102, 102, 0.096);
      color:  #673ab7;
}
mat-list a:active mat-icon{
  color: yellow!important;
}
mat-sidenav-content{
    background: white;
    flex:1;
    height: 100%;
    
  
}

a{
  text-decoration: none
}
a:hover{
  text-decoration: none;

}
.student_profile_img{
  padding: 0 1rem;
}
mat-tab-group,mat-tab{
    width: 100%;
}
  
.row{
    padding: 10px;
}
div{
    box-sizing: content-box;
}
.card{
    
}
.mycard{
  width: 15rem;
  height: 15rem;
}
.material-icons{
    font-size: 30px;
}

button span{
    font-size: 22px;
}

.action-buttons button{
    margin : 5px;
}
.mat-radio-button {
    margin: 0 12px;
  }
  .example-full-width {
    width: 100%;
  }
  td {
    padding-right: 8px;
  }
  .student_image{
      
  }
 
  button{
      margin-left: 1rem;
      
  }
 
  div.mycard{
      margin-top: .5rem;
      
      max-height: 10rem;
      min-height: 10rem;
      overflow: hidden;
  }
  @media only screen and (max-width: 600px) {
    div.card {
      margin-top: 1rem;
      margin-left: 0px;
      margin-right: 0px;
      
    }
    div.container{
        margin: 0;
        padding: 0;
    }
  }
  input[type="file"]
{
    visibility: hidden;
}