<!-- 
    <div class="container">
        <div class="row">

            <div class=".col-md-6 mycol1 ">
    
                <div class="main my_shadow">
                    <div class="left">
                        <h1>Login</h1>
                        <p><i>Administrator</i></p>
                        <p class="or"><i>or</i></p>
                         <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_form_container" autocomplete="off">


                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" formControlName="email">
                            <mat-error *ngIf="f.email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>


                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password">
                            <mat-error *ngIf="f.password.hasError('required') ">Password Required</mat-error>
                        </mat-form-field>

                        <div class="form-group">
                            <button mat-raised-button color="primary" >Login</button>
                        </div>
                    </form>
                        <p class="forgot">Forgot Password?</p>
            
                    </div>
                    <div class="right center-text">
                        
                        <p class="quotes"><i>“Life is really simple, but men insist on making it complicated.” <strong>— Confucius</strong></i></p>
                        
                    </div>
                </div>

            </div>


        </div>
    </div> -->

<div class="jumbotron">
    <mat-card class="card border-0 layout">
            <div class="left card border-0">
            
                    <h1>Login</h1>
                    <!-- <p><i>Administrator</i></p> -->
                    <!-- <p class="or"><i>or</i></p> -->
                     <form class="card" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_form_container" autocomplete="off">


                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email">
                        <mat-error *ngIf="f.email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>


                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-error *ngIf="f.password.hasError('required') ">Password Required</mat-error>
                    </mat-form-field>

                    <div class="form-group">
                        <button mat-raised-button color="primary" >Login</button>
                    </div>
                </form>
                    <p class="forgot">Forgot Password?</p>
        
                </div>

    </mat-card>
</div>