<form *ngIf="formArrayFields && formArrayFields.length" [formGroup]="form" (ngSubmit)="onFormSubmit()"
    [ngClass]="ngClass" class="json-form background">
    <ng-container *ngFor="let formFields of formArrayFields;let i=index">
        <ng-container *ngIf="isFormLoading">
            <app-skelton-loader [length]="formFields.controls.length || 2"></app-skelton-loader>
        </ng-container>
        <ng-container *ngIf="!isFormLoading">
            <ng-container [formGroupName]="i" *ngFor="let field of formFields?.controls;let j=index ">
                <ng-container *ngIf="field.type === 'number'">
                    <div class="row ">
                        <div class="col-4 text-left justify-content-center">
                            <label>{{field.label}}<span class="required-mark">
                                    {{field?.validators?.required ? '*' :''}}</span>
                            </label>
                        </div>
                        <div class="col-8 text-left">
                            <mat-form-field appearance="outline" class="w-100">
                                <!-- <mat-label>{{field.label}}</mat-label> -->
                                <input matInput type="field.type" #input appInputMask="{{field.type}}"
                                    spellcheck="false" autocomplete="off" maxlength="{{field?.validators?.maxLength}}"
                                    minlength="{{field?.validators?.minLength}}" [formControlName]="field.name">

                                <strong *ngIf="field.name === 'amount'" matPrefix>Rs.&nbsp;</strong>
                                <span *ngIf="field.name === 'amount'" matSuffix>/-</span>
                                <mat-hint align="end" *ngIf="field?.validators?.maxLength">{{input.value.length}}
                                    /
                                    {{field?.validators?.maxLength}}</mat-hint>
                                <mat-error *ngIf="form.get(field.name)?.hasError('required')">Required</mat-error>
                            </mat-form-field>


                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
    <mat-toolbar class="justify-content-end my-4 p-0">
        <button mat-stroked-button type="reset" class="mr-2"
            [disabled]="!(this.form.touched || this.form.dirty)">Reset</button>
        <button mat-raised-button type="submit" color="primary" [disabled]="this.form.invalid">Submit</button>
    </mat-toolbar>
</form>