<mat-sidenav-container class="student-layout">
    <mat-sidenav-content style="background: #F5F5F5;">
        <mat-toolbar class="background-dark-primary" style="max-height: 3rem;position:sticky;top:0;z-index: 2;">
            <div class="px-1 ml-n2">
                <button mat-icon-button routerLink='/student'>
                    <mat-icon class="mat-icon-md text-mylight pt-0">arrow_back</mat-icon>
                    <span>{{name}}</span>
                </button>
            </div>
            <div class="spacer"></div>
        </mat-toolbar>
        <mat-toolbar class="justify-content-center bg-white s-elevation" style="max-height: 3rem;position:sticky;top:3rem;z-index: 2;">
            <app-tab-nav [tabs]="routingService.studentTabs | async" 
            [selectedTabId]="selectedIndex" 
            [sticky]="true"
            (onChange)="onMainTabChange($event)"></app-tab-nav>
        </mat-toolbar>
        <main>
            <div class="">
                <router-outlet></router-outlet>
            </div>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>