<div  mat-dialog-title class="d-flex align-items-center mt-n4  mr-n4 ml-n4 pb-0 mb-0 bg-dark-400" >
    <small  class="strong text-light pr-3 pl-2">Fee Deposit</small> 
    <div class="spacer"></div>
    <button mat-icon-button [mat-dialog-close]="true" #closeDialogBtn>
        <mat-icon class="mat-icon-sm pt-0 material-icons-outlined text-mylight">close</mat-icon>
     </button>
</div>
<div mat-dialog-content>
    <div class="row justify-content-center py-5 m-0">
        <div class="col-md-8">
            <form [formGroup]="feeDepositForm" class="w-100">
                
                <div class="row ">
                    <div class="col-3 text-left justify-content-center">
                        <small>Amount</small>
                    </div>
                    <div class="col-9 text-left">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Amount</mat-label>
                            <input matInput placeholder="Ex:Examination Fee" formControlName="amount">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-left">
                        <small>Description</small>
                    </div>
                    <div class="col-9 text-left">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="Ex:description" formControlName="remark"></textarea>
                            <mat-hint>You can skip fee description</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            
        </div>
    </div>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="submit()">
      <small *ngIf="!isSubmitting">Submit</small>
      <small *ngIf="isSubmitting">Submit...</small>

    </button>

</div>