<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu" [disabled]="!menus" >
    <mat-icon class="pt-0 material-icons-outlined text-mylight">more_horiz</mat-icon>
</button>

<ng-container >
    <mat-menu #menu="matMenu">
        <ng-container *ngFor="let menu of menus">
            <button mat-menu-item (click)="actionClickHandler(menu)" class="">
                <mat-icon class="mat-icon-sm pt-1 material-icons-outlined fw-600 fc">{{menu.icon || ''}}</mat-icon>
                <span class="fw-600 fc">{{menu.menuName}}</span>
            </button>
        </ng-container>
    </mat-menu>
</ng-container> 