<mat-card class="p-0">
    <mat-toolbar>
        <button mat-icon-button>
            <mat-icon>apps</mat-icon>
        </button>
        <div class="spacer"></div>
        <span class="mr-1">
            <button mat-icon-button>
                <mat-icon>notifications</mat-icon>
            </button>
        </span>
        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>

    <div class="d-flex justify-content-center align-item-center p-2 flex-column">
        <app-avatar [size]="'lg'"></app-avatar>
        <div class="text-center py-4">
            <strong>Shivam Dwivedi</strong><br/>
            <small class="text-secondary">shivam.dwivedi618@gmail.com</small>
        </div>
    </div>


</mat-card>