.imgDefault {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 1rem;
    background-color: #ffffff;
}
svg.defaultAvatarSvg{
    fill : rgba(155, 155, 155, 0.847);
    width : 2.2rem;
}