.avatar {
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 50%;
    width: 32px;
    min-width: 32px;
    height: 32px;

    &.sm {
        width: 32px;
        min-width: 32px;
        height: 32px;
    }

    &.md {
        width: 48px;
        min-width: 48px;
        height: 48px;
    }

    &.lg{
        width: 100px;
        min-width:100px;
        height: 100px;
    }
    &.xl{
        width: 256px;
        min-width: 256px;
        height: 256px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28)
    }

    &.circle {
        border-radius: 50%;
    }

    &.square {
        border-radius: 4%;
    }
    &.squire {
        border-radius: 4%;
    }


}

.avatar::before{
    content: '';
    background: red
}

svg.defaultAvatarSvg {
    fill: rgba(155, 155, 155, 0.847);
    width: 2.2rem;
}