<!-- filtering field -->


<div class="search_container">
    <mat-card class="mysearch">
        <input type="search" (keyup)="applyFilter($event.target.value)" placeholder="Search for">

        <div class="filter">
            <mat-select #select placeholder="Filter by" (selectionChange)="applyFilter($event.value)">
                <mat-option *ngFor="let i of displayedColumns" [value]="i">
                    {{i}}
                </mat-option>
            </mat-select>
        </div>
    </mat-card>
    <mat-card class="mini_nav">
        <!-- toggle icon for fullscreen /exit -->
        <div class="border_right">
            <button *ngIf="show_fullscreen" mat-icon-button (click)="openFullscreen()" matTooltip="Fullscreen">
                <mat-icon>fullscreen</mat-icon>
            </button>
            <button *ngIf="close_fullscreen" mat-icon-button (click)="closeFullscreen()" matTooltip="Exit Fullscreen">
                <mat-icon>fullscreen_exit</mat-icon>
            </button>
        </div>
        <!-- --------- -->
        <div class="toggle_button border_right">
            <mat-slide-toggle>Dark</mat-slide-toggle>
        </div>
        <div>
            <div class="layout ">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label=" icon-button with a menu">
                    <div>
                        <img class="avatar" src="../assets/sanskar.jpg" alt="logo">
                    </div>
                    <!-- user profileimage -->
                </button>
            </div>
            <mat-menu #menu="matMenu">
                <div class="profile">
                    <div class="float-left">
                        <mat-card class="remove_shadow " routerLink='/profile'>
                            <div mat-card-avatar class="secondary_avatar_image"></div>
                        </mat-card>
                    </div>
                    <!-- <div class="float-right username_email_container">
                        <button mat-menu-item routerLink='/profile'>
                            <h3 mat-line>{{username}}</h3>
                        </button>
                        <button mat-menu-item routerLink='/profile'>
                            <h6 mat-line><small>{{email}}</small></h6>
                        </button>

                    </div> -->
                </div>
                <mat-divider></mat-divider>

                <mat-list>
                    <a routerLink='/settings'>
                        <mat-list-item>
                            <mat-icon>settings</mat-icon>
                            <p mat-line>Settings</p>
                        </mat-list-item>
                    </a>
                    <a routerLink='/login'>
                        <mat-list-item>
                            <mat-icon>logout</mat-icon>
                            <p mat-line>Logout</p>
                        </mat-list-item>
                    </a>
                </mat-list>
            </mat-menu>

        </div>
    </mat-card>
</div>
<mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading" class="table_container my_shadow1">
<table  mat-table [dataSource]="students" class=" mat-elevation-z8" matSort >

 <!-- Checkbox Column -->
 <ng-container matColumnDef="select">
   <th mat-header-cell *matHeaderCellDef >
     <mat-checkbox (change)="$event ? masterToggle() : null"
                   [checked]="selection.hasValue() && isAllSelected()"
                   [indeterminate]="selection.hasValue() && !isAllSelected()"
                   [aria-label]="checkboxLabel()">
     </mat-checkbox>
   </th>
   <td mat-cell *matCellDef="let row">
     <mat-checkbox (click)="$event.stopPropagation()"
                   (change)="$event ? selection.toggle(row) : null"
                   [checked]="selection.isSelected(row)"
                   [aria-label]="checkboxLabel(row)">
     </mat-checkbox>
   </td>
 </ng-container>

 <!-- firstName Column -->
 <ng-container  matColumnDef="firstName">
   <th mat-header-cell *matHeaderCellDef mat-sort-header> Student Name </th>
   
   <td mat-cell *matCellDef="let element">
     
     <!-- <img class="avatar" src="https://persianv.com/ravanshenasi/wp-content/uploads/sites/22/2017/10/532432787-taknaz-ir.jpg" > -->
     {{element.firstName}} </td>
 </ng-container>

 <!-- Name Column -->
 <ng-container matColumnDef="fatherName">
   <th mat-header-cell *matHeaderCellDef mat-sort-header> Father'sName</th>
   <td mat-cell *matCellDef="let element"> {{element.parent.fatherName}} </td>
 </ng-container>

 <!-- standard Column -->
 <ng-container matColumnDef="standard">
   <th mat-header-cell *matHeaderCellDef mat-sort-header> Standard </th>
   <td mat-cell *matCellDef="let element"> {{element.standard}} </td>
 </ng-container>

 <!-- address Column -->
 <ng-container matColumnDef="address">
   <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
   <td mat-cell *matCellDef="let element"> {{element.address}} </td>
 </ng-container>

 <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"
     (click)="selection.toggle(row)">
 </tr>

</table>

</mat-card>

