<mat-sidenav-container class="faculty-layout">
    <mat-sidenav-content>
        
        <!-- <mat-toolbar class="toolbar-thin" style="position:sticky;top:0;z-index: 5;">
            <mat-toolbar-row>
                <nav mat-tab-nav-bar class="d-flex w-100 pr-2">
                    <a mat-tab-link *ngFor="let link of links" routerLink="{{link.path}}" 
                       (click)="activeLink = link.path"
                       [active]="activeLink == link.path" > 
                       <small class="text-dark strong" [class.active] = "activeLink == link.path">{{link.name}}</small>
                     </a>
                    
                     
                     
                     <div class="spacer"></div>
                   
                    
                  </nav>
            </mat-toolbar-row>
        </mat-toolbar> -->
        
        <main>
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>