<div class="container-fluid ">
<div class="row ">
    <div class="col-md-6 mycol1">
       <div class="mycol1_img">

       </div>
        <img  src="https://images.pexels.com/photos/2187622/pexels-photo-2187622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        
    </div>

    <div class="col-md-6 mycol2">
        
            <div class="login_container red_center text-center">
                <p mat-line>Login as a Admin User</p>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_form_container">
                    <p>
                        <mat-form-field appearance="outline" class="input_field">
                            <mat-label>Email</mat-label>
                            <input matInput FormControlName="email" type="email" required>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class="input_field">
                            <mat-label>Password</mat-label>
                            <input matInput FormControlName="password" type="password" required>
                        </mat-form-field>
                    </p>
                    <button type="submit" mat-raised-button color="primary" class="special_button">login</button>

                </form>
            </div>
        

    </div>
</div>
</div>