mat-form-field{
    font-size: 12px;
}

  .example-right-align {
    text-align: right;
    font-weight: 600;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  ::ng-deep button.mat-mini-fab{
    border-radius: 0px!important;
  }