<div mat-dialog-title class="d-flex align-items-center mt-n4 mr-n4 ml-n4 bg-dark-400">
    <small class="text-light pr-3 pl-2 fs-14">Manage standard</small>
    <div class="spacer"></div>
    <button mat-mini-fab color="warn" [mat-dialog-close]="true" class="mat-elevation-z0">
        <mat-icon class="material-icons-outlined ">close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div class="row justify-content-center py-5">
        <div class="col-md-10">
            <pre>{{classFromGroup.value|json}}</pre>
            <app-json-form [formFields]="classFormFields" (onSubmit)="onClassSubmit($event)"></app-json-form>

        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" type="reset" (click)="classFromGroup.reset()"
        [disabled]="!classFromGroup.touched">
        <span>Reset</span>
    </button>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="classFromGroup.invalid">
        <span *ngIf="!isSaving">Submit</span>
        <span *ngIf="isSaving">Submitting...</span>
    </button>

</div>