<div class="unicorn-dark-theme">
<!-- <div class="search_container">
    <div class="mysearch">
        <input type="search" (keyup)="applyFilter($event.target.value)" placeholder="Search for">

        <div class="filter">
            <mat-select #select placeholder="Filter by" (selectionChange)="applyFilter($event.value)">
                <mat-option *ngFor="let i of displayedColumns" [value]="i">
                    {{i}}
                </mat-option>
            </mat-select>
        </div>
    </div> -->
    <mat-card class="mini_nav">
        
        <div class="border_right">
            <button *ngIf="show_fullscreen" mat-icon-button (click)="openFullscreen()" matTooltip="Fullscreen">
                <mat-icon>fullscreen</mat-icon>
            </button>
            <button *ngIf="close_fullscreen" mat-icon-button (click)="closeFullscreen()" matTooltip="Exit Fullscreen">
                <mat-icon>fullscreen_exit</mat-icon>
            </button>
        </div>
        
        <div class="toggle_button border_right">
            <mat-slide-toggle><h6 >Dark</h6></mat-slide-toggle>
        </div>
        <div>
            <div class="layout ">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label=" icon-button with a menu">
                    <div class="avatar">
                        <img  src="../assets/sanskar.jpg" alt="logo">
                    </div>
                    
                </button>
            </div>
            <mat-menu #menu="matMenu">
                <div class="">
                    <div class="" routerLink='/profile'>
                       
                            <img mat-card-avatar src="../assets/sanskar.jpg">
                        
                    </div>
                    <!-- <div class="float-right username_email_container">
                        <button mat-menu-item routerLink='/profile'>
                            <h3 mat-line>{{username}}</h3>
                        </button>
                        <button mat-menu-item routerLink='/profile'>
                            <h6 mat-line><small>{{email}}</small></h6>
                        </button>

                    </div> -->
                </div>
                <mat-divider></mat-divider>

                <mat-list>
                    <a routerLink='/settings'>
                        <mat-list-item>
                            <mat-icon>settings</mat-icon>
                            <p mat-line>Settings</p>
                        </mat-list-item>
                    </a>
                    <a routerLink='/login'>
                        <mat-list-item>
                            <mat-icon>logout</mat-icon>
                            <p mat-line>Logout</p>
                        </mat-list-item>
                    </a>
                </mat-list>
            </mat-menu>

        </div>
    </mat-card>
</div>
