<form *ngIf="formFields && formFields.controls " [formGroup]="form" (ngSubmit)="onFormSubmit()" [ngClass]="ngClass"
    class="json-form background">
    <ng-container *ngIf="isFormLoading">
        <app-skelton-loader [length]="formFields.controls.length || 2"></app-skelton-loader>
    </ng-container>
    <ng-container *ngIf="!isFormLoading">
        <ng-container *ngFor="let field of formFields?.controls ">

            <ng-container *ngIf="
                    [
                      'text',
                      'password',
                      'email',
                      'number',
                      'search',
                      'tel',
                      'url'
                    ].includes(field.type)
                  ">
                <div class="row ">
                    <div class="col-4 text-left justify-content-center">
                        <label>{{field.label}}<span class="required-mark">
                                {{field?.validators?.required ? '*' :''}}</span>
                        </label>
                    </div>
                    <div class="col-8 text-left">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{field.label}}</mat-label>
                            <input matInput type="field.type" #input appInputMask="{{field.type}}"
                                maxlength="{{field?.validators?.maxLength}}"
                                minlength="{{field?.validators?.minLength}}" [formControlName]="field.name">

                            <strong *ngIf="field.name === 'amount'" matPrefix>Rs.&nbsp;</strong>
                            <span *ngIf="field.name === 'amount'" matSuffix>/-</span>
                            <mat-hint align="end" *ngIf="field?.validators?.maxLength">{{input.value.length}}
                                /
                                {{field?.validators?.maxLength}}</mat-hint>
                            <mat-error *ngIf="form.get(field.name)?.hasError('required')">Required</mat-error>
                        </mat-form-field>


                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="field.type === 'textarea'">
                <div class="row">
                    <div class="col-4 text-left">
                        <label>{{field.label}}<span class="required-mark">{{field?.validators?.required ? '*' :
                                ''}}</span></label>
                    </div>
                    <div class="col-8 text-left">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{field.label}}</mat-label>
                            <textarea matInput #textarea [formControlName]="field.name"
                                appInputMask="{{field.type}}"></textarea>
                            <mat-hint align="end" *ngIf="field?.validators?.maxLength">{{textarea.value.length}}
                                /
                                {{field?.validators?.maxLength}}</mat-hint>
                            <mat-error *ngIf="form.get(field.name).hasError('required')">Required</mat-error>

                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="field.type === 'radio'">
                <div class="row my-4">
                    <div class="col-4 text-left">
                        <label>{{field.label}} <span class="required-mark">{{field?.validators?.required ? '*' :
                                ''}}</span></label>
                    </div>
                    <div class="col-8 text-left">
                        <mat-radio-group [formControlName]="field.name" class="d-flex flex-wrap">
                            <div class="row">
                                <div class="col-6">
                                    <mat-radio-button class="mr-4 w-50"
                                        *ngFor="let opt of field.options | slice:0:field.options.length/2"
                                        [value]="opt.value">
                                        <span class="fs-14 ">{{opt.label}}</span>
                                    </mat-radio-button>
                                </div>
                                <div class="col-6">
                                    <mat-radio-button class="mr-4 w-50"
                                        *ngFor="let opt of field.options | slice:field.options.length/2:field.options.length"
                                        [value]="opt.value">
                                        <span class="fs-14 ">{{opt.label}}</span>
                                    </mat-radio-button>
                                </div>
                            </div>


                        </mat-radio-group>
                        <mat-error *ngIf="form.get(field.name).hasError('required')">Required</mat-error>

                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="field.type === 'date'">
                <div class="row my-4">
                    <div class="col-4 text-left">
                        <label>{{field.label}}<span class="required-mark">{{field?.validators?.required ? '*' :
                                ''}}</span></label>
                    </div>
                    <div class="col-8 text-left">
                        <mat-form-field appearance="outline" class="w-100" style="position: relative;">
                            <input matInput [formControlName]="field.name" #input placeholder="MM/DD/YYYY"
                                (click)="picker.open()" [matDatepicker]="picker" readonly>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-hint *ngIf="input?.value">{{input?.value | age}}
                                years</mat-hint>
                            <mat-error *ngIf="form.get(field.name).hasError('required')">Required</mat-error>
                        </mat-form-field>

                    </div>
                </div>

            </ng-container>
            <ng-container *ngIf="field.type === 'dropdown'">
                <div class="row my-4">
                    <div class="col-4 text-left">
                        <label>{{field.label}} <span class="required-mark">{{field?.validators?.required ? '*' :
                                ''}}</span></label>
                    </div>
                    <div class="col-8 text-left">
                        <mat-form-field appearance="outline" class="w-100" (click)="fetchValue(field)">
                            <mat-select [formControlName]="field.name" (selectionChange)="onSelectOption($event,field)">
                                <mat-option value="">Select {{field.label ||
                                    ''}}</mat-option>
                                <ng-container *ngIf="field?.hitHttp && field?.method;else options">
                                    <mat-option
                                        *ngFor="let option of this.commonService.formOptions[field.method+field.ctrlId] | async"
                                        [value]="option.value">{{option.label}}
                                    </mat-option>
                                </ng-container>

                                <ng-template #options>
                                    <mat-option *ngFor="let option of field?.options"
                                        [value]="option.value">{{option.label}}
                                    </mat-option>
                                </ng-template>

                            </mat-select>
                            <mat-error *ngIf="form.get(field.name).hasError('required')">Required</mat-error>
                            <mat-error
                                *ngIf="form.get(field.name).hasError('required') && !form.get(field.dependentControlName)?.value &&  field?.dependentControlName">You
                                must select {{field.dependentControlName}} first</mat-error>

                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="field.type === 'autocomplete'">
                <div class="row my-4">
                    <div class="col-4 text-left">
                        <label>{{field.label}} <span class="required-mark">{{field?.validators?.required ? '*' :
                                ''}}</span></label>
                    </div>
                    <div class="col-8 text-left">
                        <mat-form-field appearance="outline" class="w-100">
                            <input type="text" placeholder="Select {{field.label}}"  matInput
                                [formControlName]="field.name" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of field.options" [value]="option.value">
                                    {{option.label}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="form.get(field.name).hasError('required')">Required</mat-error>

                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="field.type === 'image'">
                <div class="row my-4">
                    <div class="col-4 text-left">
                        <label>{{field.label}} <span class="required-mark">{{field?.validators?.required ? '*' :
                                ''}}</span></label>
                    </div>
                    <div class="col-8 text-left">
                        <app-image-picker (onImageSelect)="onImageSelect($event,field.name)" [image]="field.value"></app-image-picker>
                        <mat-error *ngIf="form.get(field.name)?.hasError('required')">Required</mat-error>

                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="field.type === 'checkbox'">
                <div class="row my-4">
                    <!-- <div class="col-4 text-left">
    
                    </div> -->
                    <div class="col-12 text-left">
                        <mat-checkbox [formControlName]="field.name" [disabled]="field?.disabled">
                            {{field.label}} {{field.validators?.required ? '*' :
                            ''}}
                        </mat-checkbox>
                        <mat-error *ngIf="form.get(field.name).hasError('required')">Required</mat-error>

                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <mat-toolbar class="justify-content-end my-4 p-0">
        <button mat-stroked-button type="reset" class="mr-2"
            [disabled]="!(this.form.touched || this.form.dirty)">Reset</button>
        <button mat-raised-button type="submit" color="primary" [disabled]="this.form.invalid">Submit</button>
    </mat-toolbar>
</form>
