<div mat-dialog-title class="d-flex align-items-center mt-n4 mr-n4 ml-n4 bg-dark-400" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".cdk-overlay-container" cdkDragHandle>
    <strong class="text-light px-4">{{dialogData?.action}}</strong>
    <small  class="text-light pr-3 pl-2 fs-14">{{dialogData?.name}}</small> 
    <div class="spacer"></div>
    <button mat-mini-fab color="warn" [mat-dialog-close]="true" class="mat-elevation-z0">
        <mat-icon class="material-icons-outlined ">close</mat-icon>
    </button>
</div>