<span class="px-2">
    <button style="min-width: 8rem;" class="background-dark-secondary" mat-stroked-button
        [matMenuTriggerFor]="standards" #t="matMenuTrigger">
        <small *ngIf="label" class="mr-1 fs-12" style="color: rgba(204, 204, 204, 0.351)">{{label | titlecase}}
            |</small>
        <small class="w-100">{{(selected.name | titlecase )|| 'Select'}}</small>
        <mat-icon class="mat-icon-sm pt-1">{{t.menuOpen? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
    </button>
    <mat-menu #standards="matMenu" hasBackdrop="true" class="w-100" style="min-width: 10rem;">
        <button mat-menu-item *ngFor="let d of data" class="w-100" (click)="dropdownSelectHandler(d);">
            <small [class.selected]="d._id === selected._id">{{d?.name | titlecase}}</small>
        </button>
    </mat-menu>
</span>