<button mat-button (click)="exportAsPDF()" class="m-5">exportAsPDF</button>
<div class="container" style="margin-bottom: 10rem;">
    <div class="row my-5 py-5 item-align-center" style="min-height: 100vh;">
        <div class="col-12 layout">
            <main class="printLayout mat-elevation-z8">
                <header style="background-color: 3edbf0;height: 10%;position: relative;" >
                    <div id="parallelogram"></div>
                    <div id="parallelogram1"></div>
                    <div class="school-name-container">
                        <h3 class="m-0 p-0">Sanskar Public School</h3>
                        <small class="float-right" style="line-height: 10px;">Janjirha</small>
                    </div>
                    <figure  style="position: absolute;z-index:1; left: 140px;top: 20%;">
                        <img  src="../../../assets/sanskar.jpg" alt="" style="height: 60px;">
                      </figure>
                    <figure style="position: absolute;right: 20px;top: 42%;">
                        <img class="regform-thumbnail" src="../../../assets/user_profiles/thor.jpeg" alt="">
                    </figure>
                </header>
                <section class="px-4 mb-2">
                    <div class="d-flex justify-content-center py-2">
                        <div class="title-bar" style="">
                            <h3 class="title-bar-text">Registration From</h3>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6 ">
                            <p>Director/Principle</p>
                            <input type="text" class="w-100">
                        </div>
                        <div class="col-6 ">
                            <p>Date</p>
                            <input type="text" class="w-50">
                        </div>
                    </div>
                    <div class="my-2 text-justify acknowledgement">
                        <p> <input type="checkbox"> I Confirm</p>
                        <p>I would like to express my special thanks of gratitude to my teacher (Name of the teacher) as well as our principal (Name of the principal)who gave me the golden opportunity to do this wonderful project on the topic (Write the topic name), which also helped me in doing a lot of Research and i came to know about so many</p>
                    </div>
                </section>
                <section class="px-4 mb-2 student-infromation">
                    <div class="d-flex justify-content-center py-2">
                        <div class="title-bar" style="">
                            <h3 class="title-bar-text">Student Information</h3>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-2 ">
                            <p>Student name :</p>
                        </div>
                        <div class="col-10 ">
                            <input type="text" class="w-100">
                        </div>
                    </div>
                    
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Date of birth :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Gender :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Nationality :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Blood Group :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Health Status :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Standard :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Conviniance :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Place :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </section>

                <section class="px-4 mb-2 parents-information">
                    <div class="d-flex justify-content-center py-2">
                        <div class="title-bar" style="">
                            <h3 class="title-bar-text">Parents Information</h3>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-2 ">
                            <p>Father's name :</p>
                        </div>
                        <div class="col-10 ">
                            <input type="text" class="w-100">
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-2 ">
                            <p>Mother's name :</p>
                        </div>
                        <div class="col-10 ">
                            <input type="text" class="w-100">
                        </div>
                    </div>
                    
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Father's Occupation:</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Mother's Occupation :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Father's Education :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Mother's Education :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-2 ">
                            <p>Local Guardian :</p>
                        </div>
                        <div class="col-10 ">
                            <input type="text" class="w-100">
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Parents Contact No :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Guardian Contact No :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </section>

                <section class="px-4 mb-2 address-information">
                    <div class="d-flex justify-content-center py-2">
                        <div class="title-bar" style="">
                            <h3 class="title-bar-text">Address Information</h3>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-2 ">
                            <p>Present Address  :</p>
                        </div>
                        <div class="col-10 ">
                            <input type="text" class="w-100">
                        </div>
                    </div>
                                      
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Village/Town:</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Post :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>District :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Pin code :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>State :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Country :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="row mb-1 mt-2">
                        <div class="col-2 ">
                            <input type="checkbox" >
                        </div>
                        <div class="col-10 ">
                            
                            <p> Please Check if local and permanent address is same</p>
                        </div>
                    </div>

                    <div class="row mb-1 mt-2">
                        <div class="col-2 ">
                            <p>Permanent Address :</p>
                        </div>
                        <div class="col-10 ">
                            <input type="text" class="w-100">
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Village/Town:</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Post :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>District :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Pin code :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>State :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <p>Country :</p>
                                </div>
                                <div class="col-8 ">
                                    <input type="text" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    
                    
                </section>

            </main>
        </div>
    </div>
</div>
