.full-width-table {
  width: 100%;
}
.header-align-right{
  display: flex;
  /* padding: 21px 0; */
  justify-content: flex-end;
}


/* td.mat-cell{
  border-bottom-style: none;
} */

/* th.mat-header-cell{
  border-bottom-style: none;
} */
