.sidenav_menus {
    color: antiquewhite;
}

.mat-expansion-panel {
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.87);
    /* padding: 0 16px ; */
}

.mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    border-radius: inherit;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
}


* {
    font-size: 14px;
    // font-weight: 900;
    color: rgba(255, 255, 255, 0.784);
}

// a mat-list-item:hover{
//    background: var(--background-primary-hover); 
// }
mat-accordion mat-expansion-panel mat-expansion-panel-header:hover.mat-expansion-panel-header {
    background-color: rgb(255 255 255 / var(--background-opacity));
    --background-opacity: .12;
    transition: var(--background-primary-hover-transition);
}

.background-primary-active,
a mat-list-item:hover {
    background-color: rgb(255 255 255 / var(--background-opacity));
    --background-opacity: .12;
    transition: var(--background-primary-hover-transition);


}

a:hover .mat-list-item,
.mat-list-item-content {
    background-color: rgb(255 255 255 / var(--background-opacity));
    --background-opacity: .12;
    transition: var(--background-primary-hover-transition);
}
a:hover .menu
{
    background-color: rgb(255 255 255 / var(--background-opacity));
    --background-opacity: .12;
    transition: var(--background-primary-hover-transition);
}

::ng-deep mat-accordion mat-expansion-panel .mat-expansion-panel-body {
    /* padding: 0 24px 16px; */
    padding: 0px !important;
}

::ng-deep mat-accordion mat-expansion-panel mat-expansion-panel-header .mat-expansion-indicator::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;
    color: white;
}

.navigation-item-title {
    font-size: 12px!important;
    text-transform: uppercase;
    font-weight: 500!important;
    --tw-text-opacity: 1;
    --fuse-primary-400-rgb: 129,140,248;
    color: rgba(var(--fuse-primary-400-rgb), var(--tw-text-opacity));

}

.navigation-item-subtitle {
    font-size:11px!important;
    color: rgb(255 255 255 / var(--text-opacity));
    --text-opacity: 0.5;
    line-height: 1;
    
}
mat-nav-list mat-list-item small,span,a{
    font-size: 13px;
    font-weight: 500;
}
mat-accordion mat-panel-title small{
    font-size: 13px;
    font-weight: 500;
}

.compact-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding: 1 0rem;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 0 .5rem;
    background: inherit;
    cursor: pointer;

    mat-icon{
        font-size: 1.5rem;
    }
    span{
        font-size: 12px;
    }
}
.overlay{
    position: fixed;
    z-index: -10!important;
    top: 0;
    right: 0;
    left: var(--left-sidebar-compact);
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 750ms ease-in-out;

}
.overlay-sidenav_menus{
    position: fixed;
    min-width: 0px;
    width:var(--left-sidebar);
    left: var(--left-sidebar-compact);
    z-index: 1!important    ;
    height: 100%;
    top: 0;
    border-left: 1px solid var(--color-gray-secondary);
    transition: 1s ease-in-out;
    
}