<div class="">
  <!--table heading-->
  <app-toolbar [title]="selectedStandardName ? selectedStandardName + ' Fee structure' : '' "
    [routerLink]="'/configuration/classes'" [dropdowns]="['class']" (onDropDownSelect)="onSelect($event)"></app-toolbar>


  <mat-toolbar class="justify-content-center glass" style="position:sticky;top:0rem;z-index: 2;">
    <app-tab-nav [tabs]="routingService.subMenus | async" [selectedTabId]="selectedIndex" [sticky]="true"
      (onChange)="onMainTabChange($event)"></app-tab-nav>
  </mat-toolbar>

  <app-table [data]="classWiseFees" [columns]="displayedColumns"
    (actionTriggerd)="actionTriggerhandler($event)"></app-table>

  <mat-toolbar>
    <strong>Total</strong>
    <div class="spacer"></div>
    <strong>{{getTotalCost() | currency : 'INR'}}</strong>
  </mat-toolbar>

</div>