<mat-toolbar class="bg-white" [class.sticky]="sticky">
    <ng-container *ngIf="!routerLink">
        <span class="fs-14 text-uppercase">{{title | titlecase}}</span>
    </ng-container>
    <ng-container *ngIf="routerLink" >
        <button mat-icon-button [routerLink]="routerLink" queryParamsHandling="preserve" class="fs-14 text-uppercase" matTooltip="Go Back">
            <mat-icon class="mat-icon-md text-mylight pt-0">arrow_back</mat-icon>
            <span>{{title | titlecase}}</span>
        </button>
    </ng-container>
    <div class="spacer"></div>
    <ng-container *ngIf="dropdowns.includes('class')">
        <app-dropdown [label]="'class'" [data]="classApiService.$classDropDown | async" (onSelect)="onClassSelect($event)" [selected]="{name : selectedStandardName, _id : standardId}" color="primary"></app-dropdown>
    </ng-container>
    
</mat-toolbar>