
<mat-nav-list class="sidenav_menus " style="color: black!important">
    <a [routerLink]="['/admission']">
        <mat-list-item routerLinkActive="active" >
            <mat-icon class="mat-icon-sm pt-1">school</mat-icon>
            <!-- <span mat-list-icon class="material-icons mat-icon-sm">school</span> -->
            <!-- <small >Admission</small> -->
        </mat-list-item>
    </a>


    <a [routerLink]="['/student']">
        <mat-list-item routerLinkActive="active">
            <mat-icon class="mat-icon-sm pt-1">person</mat-icon>
            <!-- <span mat-list-icon class="material-icons">person</span> -->
            <!-- <small >Student</small> -->
        </mat-list-item>
    </a>


<div class="spacer">

</div>
  


</mat-nav-list>