<section style="min-height: calc(100vh-6rem)" class="pb-5">
  <ng-container *ngIf="this.studentData">
    <div class="container mt-2 mb-5 pt-4 ">
      <mat-card>
        <div class="row justify-content-center p-5 m-0">
          <div class="col-md-4">
            <app-avatar [src]="studentData?.studentPhoto" [size]="'xl'" [gender]="studentData?.gender"
              [shape]="'square'"></app-avatar>
          </div>
          <div class="col-md-6  text-left">
            <div class="d-flex flex-column">
              <h3 class="py-0 my-0">{{ this.studentData?.name | titlecase}}
                <span><mat-icon matTooltip="Verified" class="mat-icon-sm text-success">verified_user</mat-icon></span>
              </h3>
              <strong class="text-uppercase">{{this.studentData?.classId?.name}}</strong>
              
              <div class="d-flex my-2">
                <button mat-stroked-button (click)="updateProfile()" class="mr-1">
                  <small class="text-mylight">UPDATE</small>
                </button>
                <ng-container *ngIf="studentData.registrationCompleted">

                </ng-container>
                <button mat-stroked-button (click)="updateProfile()" class="mr-1">
                  <small class="text-mylight">Complete Registration</small>
                </button>

                  <app-menu-button ></app-menu-button>
                
                
                <!-- <button mat-stroked-button (click)="printProfile()" class="mx-1">
                  <small class="text-mylight text-uppercase">Print</small>
                </button> -->

              </div>


            </div>
          </div>
        </div>
      </mat-card>
      <!-- <mat-toolbar class="justify-content-center glass"
        style="max-height: 3rem;position:sticky;top:3rem;z-index: 2;border-radius: 0;">
        <app-tab-nav [tabs]="routingService.activeStudentTabSubMenus | async" [selectedTabId]="student" [sticky]="true"
          [color]="primary" (onChange)="onMainTabChange($event)"></app-tab-nav>
      </mat-toolbar> -->

      <ng-container>
        <mat-card class="mt-5 mb-5 p-0">
          <mat-toolbar class="glass">
            <span>Student</span>
            <span class="spacer"></span>
            <button mat-raised-button type="button" color="primary" class="btn-mydark text-uppercase"
              (click)="triggerAction(Action.UPDATE)">
              <span>{{(studentActionService.$isStudentFormVisible | async) ? 'Cancel' : 'Edit'}}</span>
            </button>
          </mat-toolbar>

          <ng-container *ngIf="!(studentActionService.$isStudentFormVisible | async)">
            <div class="row justify-content-center  m-0 py-5">
              <div class="col-md-6">
                <ng-container *ngFor="let data of ($studentData | async) | keyvalue">
                  <ng-container *ngIf="isIncluded(displayStudentFields,data.key)">
                    <div class="row">
                      <div class="col-6 text-left">
                        <p class="titlecase">{{data.key | label}}</p>
                      </div>
                      <div class="col-6 text-left">
                        <p class="strong">
                          {{
                          fieldType(displayStudentFields,data.key) === "date" ?
                          (data.value | date) :
                          (data.value || '')
                          }}
                        </p>
                      </div>
                    </div>
                    <p>
                      <mat-divider></mat-divider>
                    </p>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </ng-container>

        </mat-card>
      </ng-container>
      <ng-container *ngIf="studentApiService.parentData | async">
        <mat-toolbar class="background-dark-primary glass">
          <span>Parent</span>
          <span class="spacer"></span>
          <button mat-raised-button type="button" color="primary" class="btn-mydark text-uppercase"
            (click)="triggerParentAction(Action.UPDATE)">
            <span>Update</span>
          </button>
        </mat-toolbar>
        <mat-card>
          <ng-container >
            <div class="row justify-content-center background m-0 py-5">
              <div class="col-md-6">
                <ng-container *ngFor="let data of ($parentData | async) | keyvalue">
                  <ng-container *ngIf="isIncluded(displayParentFields,data.key)">
                    <div class="row">
                      <div class="col-6 text-left">
                        <p class="titlecase">{{data.key | label}}</p>
                      </div>
                      <div class="col-6 text-left">
                        <p class="strong">{{ (data.value || '')}}</p>
                      </div>
                    </div>
                    <p>
                      <mat-divider></mat-divider>
                    </p>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </ng-container>
          
        </mat-card>
      </ng-container>
    </div>
  </ng-container>

</section>