:root {
    --color-gray-primary: #333;
    --color-gray-secondary: #424242;
    --color-white: white;
    --color-primary:#673AB7;
    --elevation-raised-bottom: 0 -2px 8px rgba(0, 0, 0, 0.12);
    --elevation-raised-top: 0 2px 8px rgba(0, 0, 0, 0.12);
    --elevation-floating: 0 0 8px rgba(0, 0, 0, 0.1);
    --background-white-primary: #F5F5F5;
    --background-white: var(--color-white);
    --background-black-primary: var(--color-gray-primary);
    --background-black-secondary: var(--color-gray-secondary);
    --transition-effect-default: .3s ease;
    --transition-bezier: .3s cubic-bezier(0, 0, 0.2, 1);
    --left-sidebar : 18rem;
    --right-sidebar : 4rem;
    --height-topbar : 3rem;
    --height-breadcrumb : 2rem;
    --height-toolbar : 3rem;
    --background-primary : #0f172a;
    --background-primary-hover : #64748b;
    --background-primary-hover-transition : 0.5s all;
    --background-primary-active : #64748b;
    --background-opacity : .12;
    --transition :  0.5s all;
    --text-secondary : rgb(148,163,184);
}