.background-white{
    background: var(--background-white);
}

.background-white-primary{
    background: var(--background-white-primary);
}

.background-dark-primary{
    color: white !important;
    background: var(--background-black-primary);
}
.background-dark-secondary{
    color: white !important;
    background: var(--background-black-secondary);
}
.background-gradient-primary{
    color: white !important;
    background: #673AB7 !important;
}

// .background-gradient-primary {
//     color: white !important;
//     background: #00d2ff !important;
//     background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff)#00d2ff !important;
//     background: linear-gradient(to right, #3a7bd5, #00d2ff)#00d2ff !important;
// }

.background-gradient-secondary{
    color: #ffffff !important;
    background: #00467F#00d2ff !important;
    background: -webkit-linear-gradient(90deg #333, #00467F, #333)#00d2ff !important;
    background: linear-gradient(90deg, #333, #00467F, #333)#00d2ff !important;
}
.background-gradient-warn {
    color: white !important;
    background: #DE6262;
    background: -webkit-linear-gradient(to left, #FFB88C, #DE6262);
    background: linear-gradient(to left, #FFB88C, #DE6262);
}

.sidebar-background{
    color: #ffffff;
    background: var(--background-primary);
}