button.btn-mydark {
    color: white !important;
    background: #424242 !important;
}
button:disabled {
    cursor: not-allowed !important;
}
button:-moz-loading{
    cursor:progress;
}
button{
    letter-spacing: 0.5px;
    font-weight: 600;
}
button.mat-raised-button span,small{
    font-weight: 600;
}