::ng-deep mat-toolbar mat-toolbar-row {

    max-height: 48px;
    padding: 0;
    font-size: 12px !important;
}

::ng-deep mat-toolbar.mat-toolbar-multiple-rows {
    max-height: 48px;
    min-height: 48px;
    padding: 0;
    font-size: 12px;

}

.mat-drawer-inner-container:hover::-webkit-scrollbar-thumb {
    visibility: visible;
    transition: 10ms all;
}

::ng-deep .mat-dialog-container {
    background: #d4d4d4 !important;
}

.mat-tab-link {
    min-width: 54px;
}

.image-cropper-dialog {
    .mat-dialog-container {
        background: #d4d4d4 !important;
    }
}
::ng-deep .mat-mini-fab{
	border-radius: 0px!important;
}
::ng-deep .mat-menu-panel {
    min-width: 150px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 48px);
    border-radius: 4px;
    outline: 0;
    min-height: 64px;
}
::ng-deep button.mat-menu-item{
    line-height: normal;
    height: 32px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    height: 36px!important;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
}

.mat-expansion-panel-header.mat-expanded {
    height: 36px!important;
}
.mat-expansion-panel-header {
    height: 36px!important;
}