
.elevation{
    box-shadow: var(--elevation-floating)!important;
    &-bottom{
        box-shadow: var(--elevation-raised-bottom)!important;
    }
    &-top{
        box-shadow: var(--elevation-raised-top)!important;
    }
}


