<mat-list class="sidenav_menus">
    <mat-list-item (click)="newRegistration({})" matTooltip="New Student Registration" matTooltipPosition="right"
        routerLinkActive="myactive">
        <span mat-list-icon class="material-icons">school</span>
        <p mat-line>Admission</p>
    </mat-list-item>


    <a [routerLink]="['/student']" routerLinkActive="myactive">
        <mat-list-item matRipple matTooltip="Student list" matTooltipPosition="right" routerLinkActive="myactive">
            <span mat-list-icon class="material-icons">search</span>
            <p mat-line>Student</p>
        </mat-list-item>
    </a>
    <a [routerLink]="['/faculty']" routerLinkActive="myactive">
        <mat-list-item matRipple matTooltip="Student list" matTooltipPosition="right" routerLinkActive="myactive">
            <span mat-list-icon class="material-icons">search</span>
            <p mat-line>Faculty</p>
        </mat-list-item>
    </a>
    <a [routerLink]="['/class-registration']" routerLinkActive="myactive">
        <mat-list-item matRipple matTooltip="Student list" matTooltipPosition="right" routerLinkActive="myactive">
            <span mat-list-icon class="material-icons">home</span>
            <p mat-line>Class-Registration</p>
        </mat-list-item>
    </a>
</mat-list>