.sidenav-container {
    position: fixed;
    top:3rem;
    width: 100vw;
    height: 100%;
}

.leftsidebar{
    width: 15rem;
}
.rightsidebar{
    width: 4rem;
}
.vertical-sidenav-content{
    // position: relative;
}
.wallpaper{
    // min-width: calc(100vw - 15rem -4rem);
    // height: 100%;
    position:absolute;
    width: 100vw;
    overflow: hidden;
    object-fit: cover;
    // height: 100vh;
    z-index: -1;
    background-image: url('../../../assets/river');
}
.wallpaper:before{
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    // background: rgba(255, 255, 255, 0.750);
// box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
// border-radius: 10px;
// border: 1px solid rgba( 255, 255, 255, 0.18 );
}