<div class="layout-wrapper">
    <app-topbar></app-topbar>
    <mat-sidenav-container class="sidenav-container" autosize>
        <mat-sidenav #sidenav class="leftsidebar" position="start" [mode]="(isHandset$ | async) ? 'over' : 'side'"
            opened>
            <app-left-sidebar-menu></app-left-sidebar-menu>
        </mat-sidenav>
        <mat-sidenav #sidenav class="rightsidebar" position="end" [mode]="(isHandset$ | async) ? 'over' : 'side'"
            opened>
            <app-left-sidebar-menu></app-left-sidebar-menu>
        </mat-sidenav>
        <mat-sidenav-content class="vertical-sidenav-content">
           <!-- <div class="wallpaper">
               <img class="img-fluid" src="../../../assets/river" alt="">
           </div> -->
            <main>
                <div class="">
                    <router-outlet></router-outlet>
                </div>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>