<mat-progress-bar *ngIf="routing" style="position: fixed; top: 0;z-index: 1000;"
    mode="indeterminate"></mat-progress-bar>
<div class="layout-wrapper">
    <app-topbar></app-topbar>
    <mat-sidenav-container class="sidenav-container" autosize>
        <mat-sidenav #sidenav class="leftsidebar background-dark-secondary" position="start"
            [mode]="(isHandset$ | async) ? 'side' : 'side'" opened>
            <app-left-sidebar-menu></app-left-sidebar-menu>
        </mat-sidenav>
        <mat-sidenav #sidenav1 class="rightsidebar" position="end" [mode]="(isHandset$ | async) ? 'side' : 'side'"
            opened>

            <app-right-sidebar-menu></app-right-sidebar-menu>
        </mat-sidenav>
        <mat-sidenav-content class="vertical-sidenav-content">
            <mat-toolbar color="primary" style="position: absolute;top: 0rem;height: 32px!important;z-index: 1000000;"
                class="elevation-bottom">
                <app-breadcrumb></app-breadcrumb>
            </mat-toolbar>
            <main class="main-outlet">
                <div style="position: relative;">
                    <router-outlet></router-outlet>
                </div>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>