<!--more action on selected row-->
<mat-toolbar class="glass">
    <div class="px-1 " *ngIf="!this.selection.selected.length">
        <button mat-mini-fab (click)="refresh()" color="priary" class="elevation">
            <mat-icon class="">refresh</mat-icon>
        </button>
    </div>
    <div class="px-1" *ngIf="!this.selection.selected.length">
        <button mat-mini-fab color="pridmary" (click)="isListView = !isListView"  class="elevation">
            <mat-icon class="">{{isListView ? 'view_list' : 'grid_view'}}</mat-icon>
        </button>
    </div>
    <ng-container *ngIf="this.selection.selected.length">
        <app-bulk-actions></app-bulk-actions>
    </ng-container>
    <div class="spacer"></div>
    <ng-container *ngIf="!this.selection?.selected?.length">
        <app-filter (onEvent)="applyFilter($event)"></app-filter>
        <button mat-raised-button color="primary" (click)="addNew()" class="mr-2">
            <mat-icon class="mat-icon-sm pt-1">add_box</mat-icon>
            <small>
                Add New
            </small>
        </button>
    </ng-container>
</mat-toolbar>

<mat-card class="elevation p-0 m-3 table-container">
    <table mat-table [dataSource]="dataSource" class="w-100 br-10 " *ngIf="dataSource && dataSource.data.length != 0 ">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="text-left" style="width: 2rem;">
                <div class="layout">
                    <mat-checkbox (change)="$event ? masterToggle() : null" class="mb-n2 pr-1" color="primary"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </div>
            </th>
            <td mat-cell *matCellDef="let row" style="width: 2rem;" class="text-left">
                <div class="layout">
                    <mat-checkbox (click)="$event.stopPropagation()" class="mb-n2 pr-1 " color="primary"
                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </div>

            </td>
        </ng-container>
        <ng-container *ngFor="let column of columns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>{{ (column | label ) | titlecase}}</th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="column == 'amount'">
                    {{ row[column] | currency : "INR" }}
                </span>
                <span *ngIf="column !== 'amount'">
                    {{ row[column]}}
                </span>
            </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-right">Action</th>
            <td mat-cell *matCellDef="let row" class="text-right">
                <app-menu-button [menus]="actions" (click)="$event.stopPropagation()"
                    (onMenuClick)="menuClickHandler($event,row);"></app-menu-button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="menuClickHandler(Action.NAVIGATE,row);"
            style="cursor:pointer"></tr>
    </table>
</mat-card>
<ng-container *ngIf="!dataSource.data.length && !isLoading">
    <app-empty-list></app-empty-list>
</ng-container>

<mat-toolbar class="mat-elevation-z16" color="primary" >
    <div class="spacer"> </div>
    <mat-paginator style="height: 3rem;background: var(--color-primary);color: white;" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>

</mat-toolbar>