<section style="min-height: calc(100vh-6rem)" class="pb-5">
  <ng-container *ngIf="this.studentData">
    <div class="container mt-2 mb-5 pt-4 ">
      <mat-card>
        <div class="row justify-content-center p-5 m-0">
          <div class="col-md-4">
            <app-avatar [src]="studentData?.studentPhoto" [size]="'xl'" [gender]="studentData?.gender"
              [shape]="'square'"></app-avatar>
          </div>
          <div class="col-md-6  text-left">
            <div class="d-flex flex-column">
              <h3 class="py-0 my-0">{{ this.studentData?.name | titlecase}}
                <span><mat-icon matTooltip="Verified" class="mat-icon-sm text-success">verified_user</mat-icon></span>
              </h3>
              <strong class="text-uppercase">{{this.studentData?.classId?.name}}</strong>

              <div class="d-flex my-2">
                <button mat-stroked-button (click)="triggerAction(Action.NAVIGATE,'student')" class="mr-1">
                  <small class="text-mylight">UPDATE</small>
                </button>
                <app-menu-button></app-menu-button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <ng-container>
        <mat-card class="mt-5 mb-5 p-0">
          <mat-toolbar class="glass">
            <span>Student</span>
            <span class="spacer"></span>
            <button mat-raised-button type="button" color="primary" class="btn-mydark text-uppercase"
              (click)="triggerAction(Action.NAVIGATE,'student')">
              <span>Update</span>
              <mat-icon>arrow_right</mat-icon>
            </button>
          </mat-toolbar>
          <ng-container>
            <div class="row justify-content-center  m-0 py-5">
              <div class="col-md-6">
                <ng-container *ngFor="let data of ($studentData | async) | keyvalue">
                  <ng-container *ngIf="isIncluded(displayStudentFields,data.key)">
                    <div class="row">
                      <div class="col-6 text-left">
                        <p class="titlecase">{{data.key | label}}</p>
                      </div>
                      <div class="col-6 text-left">
                        <p class="strong">
                          {{
                          fieldType(displayStudentFields,data.key) === "date" ?
                          (data.value | date) :
                          (data.value || '')
                          }}
                        </p>
                      </div>
                    </div>
                    <p>
                      <mat-divider></mat-divider>
                    </p>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="!($studentData | async)">
            <app-empty-list></app-empty-list>
          </ng-container>
        </mat-card>
      </ng-container>

      <ng-container>
        <mat-card class="mt-5 mb-5 p-0">
          <mat-toolbar class="glass">
            <span>Parent</span>
            <span class="spacer"></span>
            <button mat-raised-button type="button" color="primary" class="btn-mydark text-uppercase"
              (click)="triggerAction(Action.NAVIGATE,'parent')">
              <span>Update</span>
              <mat-icon>arrow_right</mat-icon>
            </button>
          </mat-toolbar>
          <ng-container>
            <div class="row justify-content-center  m-0 py-5">
              <div class="col-md-6">
                <ng-container *ngFor="let data of ($parentData | async) | keyvalue">
                  <ng-container *ngIf="isIncluded(displayParentFields,data.key)">
                    <div class="row">
                      <div class="col-6 text-left">
                        <p class="titlecase">{{data.key | label}}</p>
                      </div>
                      <div class="col-6 text-left">
                        <p class="strong">
                          {{
                          fieldType(displayParentFields,data.key) === "date" ?
                          (data.value | date) :
                          (data.value || '')
                          }}
                        </p>
                      </div>
                    </div>
                    <p>
                      <mat-divider></mat-divider>
                    </p>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!($parentData | async)">
            <app-empty-list></app-empty-list>
          </ng-container>
        </mat-card>
      </ng-container>

      <ng-container>
        <mat-card class="mt-5 mb-5 p-0">
          <mat-toolbar class="glass">
            <span>Local Address</span>
            <span class="spacer"></span>
            <button mat-raised-button type="button" color="primary" class="btn-mydark text-uppercase"
              (click)="triggerAction(Action.NAVIGATE,'localAddress')">
              <span>Update</span>
              <mat-icon>arrow_right</mat-icon>
            </button>
          </mat-toolbar>
          <ng-container>
            <div class="row justify-content-center  m-0 py-5">
              <div class="col-md-6">
                <ng-container *ngFor="let data of ($address | async)?.localAddress | keyvalue">
                  <ng-container *ngIf="isIncluded(displayLocalAddressFields,data.key)">
                    <div class="row">
                      <div class="col-6 text-left">
                        <p class="titlecase">{{data.key | label}}</p>
                      </div>
                      <div class="col-6 text-left">
                        <p class="strong">
                          {{
                          fieldType(displayLocalAddressFields,data.key) === "date" ?
                          (data.value | date) :
                          (data.value || '')
                          }}
                        </p>
                      </div>
                    </div>
                    <p>
                      <mat-divider></mat-divider>
                    </p>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!($address | async)?.localAddress ">
            <app-empty-list></app-empty-list>
          </ng-container>
        </mat-card>
      </ng-container>

      <ng-container>
        <mat-card class="mt-5 mb-5 p-0">
          <mat-toolbar class="glass">
            <span>Permanent Address</span>
            <span class="spacer"></span>
            <button mat-raised-button type="button" color="primary" class="btn-mydark text-uppercase"
              (click)="triggerAction(Action.NAVIGATE,'permanentAddress')">
              <span>Update</span>
              <mat-icon>arrow_right</mat-icon>
            </button>
          </mat-toolbar>
          <ng-container>
            <div class="row justify-content-center  m-0 py-5">
              <div class="col-md-6">
                <ng-container *ngFor="let data of ($address | async)?.permanentAddress | keyvalue">
                  <ng-container *ngIf="isIncluded(displayPermanentAddressFields,data.key)">
                    <div class="row">
                      <div class="col-6 text-left">
                        <p class="titlecase">{{data.key | label}}</p>
                      </div>
                      <div class="col-6 text-left">
                        <p class="strong">
                          {{
                          fieldType(displayPermanentAddressFields,data.key) === "date" ?
                          (data.value | date) :
                          (data.value || '')
                          }}
                        </p>
                      </div>
                    </div>
                    <p>
                      <mat-divider></mat-divider>
                    </p>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!($address | async)?.permanentAddress">
            <app-empty-list></app-empty-list>
          </ng-container>
        </mat-card>
      </ng-container>

    </div>
  </ng-container>

</section>