
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  *{
    line-height: 24px !important;
  
  
  }
  /* a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  } */
  .example-header {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0px;
    left: 0;
    width: 100%;
    min-height: 3rem;
    max-height: 3rem;
    width: 100%;  
    box-shadow: 0px 1px 4px rgba(102, 102, 102, 0.5);
  }
  .example-header:hover{

    box-shadow: 0px 1px 4px rgba(102, 102, 102, 0.5);
    transition: .1s all;

  }
  mat-toolbar{
    height: 3rem;
    display: flex;
  }
  
  
 
  .brand_name{
    position: relative;
    font-size: 1rem;
    font-weight: bolder;
  }

 
  button:focus{
    outline: none;
    border: none;
  }

  @media (max-width:420px){
    button.mat-menu-item{
      width: 70vw !important;
      height: auto;
    }
  
  }
  
  .remove_shadow{
    max-width: 54px;
    min-width: 2rem;
    max-height: 54px;
    min-height: 2rem;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    
  }
  .example-avatar-image {
    max-width: 2rem;
    max-height: 2rem;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    box-shadow: 0px 0px 1px #222,0px 2px 4px #ccc;
  }
  