<!-- this mat-card only used here because mat-card-avatar is used for  circular img icon -->
<mat-card class="no-effect-card">
    <!-- mat-toolbar is main container for all navigation menus -->
    <mat-toolbar role="heading" class="example-header">

        <mat-toolbar-row>
            <!-- button form sidenav open and close -->
            <button mat-icon-button (click)="onToggleSidenav()" matTooltip="main menu">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
            <!-- ---------------------------------- -->
            <a [routerLink]="['./about']" routerLinkActive="router-link-active">
                <div fxLayout="row" class="logo_and_brand_name">

                    <!-- <div class="logo" fxLayoutAlign="center">
            <img src="../assets/qbase48.png" alt="sanskar">
          </div> -->

                    <div fxLayoutAlign="center center">
                        <h1 class="brand_name">sanskar</h1>
                    </div>

                </div>
            </a>

            <span class="example-spacer"></span>
            <mat-icon>face</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
    

</mat-card>