<!-- mat-toolbar is main container for all navigation menus -->
<mat-toolbar role="heading" class="example-header">

    <mat-toolbar-row>
        <!-- button form sidenav open and close -->
        <button mat-icon-button (click)="onToggleSidenav()" matTooltip="main menu">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <!-- ---------------------------------- -->
                <div fxLayoutAlign="center center">
                    <h1 class="brand_name">sanskar</h1>
                </div>
        <span class="example-spacer"></span>
        <div>
            <mat-card class="remove_shadow primary_avatar_card">
                
                    <button mat-icon-button [matMenuTriggerFor]="menu" 
                    aria-label=" icon-button with a menu">
                    <div mat-card-avatar class="primary_avatar_image"></div>
                   </button>
                
            </mat-card>
        

                
              
              <mat-menu #menu="matMenu" >
                
                  <mat-card class="remove_shadow secondary_avatar_card">
                    <div mat-card-avatar class="secondary_avatar_image"></div>

            </mat-card>
                
                <button mat-menu-item class="text-center">
             
                  <span >Manoj Dwivedi</span>
                </button>
                <button mat-menu-item class="text-center">
                  
                  <span>sanskar.mkdwivedi@gmail.com</span>
                </button>
                <button mat-menu-item class="text-center">
                  <mat-icon>logout</mat-icon>
                  <span>logout</span>
                </button>
              </mat-menu>
              
        </div>
    </mat-toolbar-row>
</mat-toolbar>