<mat-list class="sidenav_menus">
    
    <mat-list-item >
      <mat-icon mat-list-icon >school</mat-icon>
      
      <p mat-line>Admission</p>
    </mat-list-item>
    <a [routerLink] = "['../students']" router-Link-Active = "router-Link-active">
    <mat-list-item >
        <mat-icon mat-list-icon>perm_contact_calendar</mat-icon>
        <p mat-line>Students</p>
      </mat-list-item>
      </a>
      <mat-list-item >
        <mat-icon mat-list-icon>face</mat-icon>
        <p mat-line>Admission</p>
      </mat-list-item>
  </mat-list>
  