.sidenav_menus{
    overflow-x: hidden!important;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
  
}

a{
    text-decoration: none;
}
mat-list-item:hover mat-icon { color: #673ab7; }
mat-list-item:hover{
     
      border-right: solid #673ab7 ;
      /* transition: .5s ; */
      background: rgba(102, 102, 102, 0.096);
      color:  #673ab7;
    }