<mat-list class="sidenav_menus">

  <a  routerLink="/dashboard" routerLinkActive="active">
    <mat-list-item  matTooltip="Analytics" matTooltipPosition="right">
    <mat-icon mat-list-icon>desktop_mac</mat-icon>
    <p mat-line>Dashboard</p>
    </mat-list-item>
  </a>

  <a routerLink="/admission" routerLinkActive="active">
    <mat-list-item  matTooltip="Admission" matTooltipPosition="right">
    <mat-icon mat-list-icon>create</mat-icon>
    <p mat-line>Admission</p>
    </mat-list-item>
  </a>
  <a routerLink="/login" routerLinkActive="active">
    <mat-list-item  matTooltip="login" matTooltipPosition="right">
    <mat-icon mat-list-icon>face</mat-icon>
    <p mat-line>login</p>
    </mat-list-item>
  </a>

  <a [routerLink]="['./students']" routerLinkActive="active">
    <mat-list-item matTooltip="Student Details"  matTooltipPosition="right">
      <mat-icon mat-list-icon>contacts</mat-icon>
      <p mat-line>Students</p>
    </mat-list-item>
  </a>
  <a [routerLink]="['./studentcompletedetails']" routerLinkActive="active">
    <mat-list-item matTooltip="Student Details"  matTooltipPosition="right">
      <mat-icon mat-list-icon>contacts</mat-icon>
      <p mat-line>student detailed info</p>
    </mat-list-item>
  </a>
  <!-- definefeeStructure -->
  <a [routerLink]="['./feestructure']" routerLinkActive="active">
    <mat-list-item matTooltip="Student Details"  matTooltipPosition="right">
      <mat-icon mat-list-icon>assignment</mat-icon>
      <p mat-line>Set Fee Structure</p>
    </mat-list-item>
  </a>
  <!-- fees -->
  <!-- definefeeStructure -->
  <a [routerLink]="['./fees']" routerLinkActive="active">
    <mat-list-item matTooltip="Student Fees"  matTooltipPosition="right">
      <mat-icon mat-list-icon>assignment</mat-icon>
      <p mat-line>Fees</p>
    </mat-list-item>
  </a>



</mat-list>