.sidenav_menus{
    overflow-x: hidden!important;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
  
}

a{
    text-decoration: none;
}
mat-list-item:hover mat-icon { color: #673ab7; }