
<mat-sidenav-container class="example-container" >
    <mat-sidenav position="start" [mode]="isLargeScreen() ? 'side' : 'over'"
     #sidenav 
     [class.sidenav_half_open]="!isFullOpen"
     [class.sidenav_full_open]="isFullOpen"
     opened>
     <div class="mytoggle_button">
       <button mat-icon-button (click)="mySidenavToggle()" ><mat-icon>menu</mat-icon></button>
     </div>
       <div class="cover_or_logo">
        <img class="img-fluid" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
       </div>
       <div class="sidenav_menus">
           <app-sidenavmenus></app-sidenavmenus>
       </div>
    </mat-sidenav>
    <!-- ------------ -->
    <mat-sidenav-content class="sidenav_content" [ngStyle]="{'margin-left.rem':contentMargin}">
        <app-navigation (sidenavToggle)="sidenav.toggle()" >
        </app-navigation>
        <main>
            
            <router-outlet>
              
            </router-outlet>
        </main>
    </mat-sidenav-content>
    
</mat-sidenav-container>
<footer class="footer text-center">

            &copy;copyright @2020
       
</footer>