
<!-- <app-navigation (click)="sidenav.toggle()">
</app-navigation> -->
<mat-sidenav-container class="example-container" autosize>
    
    <mat-sidenav  [class.sidenav_half]=" !isFullOpen"
    #sidenav 
    [class.sidenav_full]="isFullOpen"
    class="my_shadow1"
    position="start"  [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
<mat-toolbar class="sidenav_toolbar">
    <mat-toolbar-row>
        <button *ngIf="(isHandset$ | async) === false" mat-icon-button (click)="sidenavToggle()">
            <mat-icon>menu</mat-icon>
        </button>
            
        <a  routerLink=" " class="example-icon" >
            <div class="logo layout">
                <img src="../assets/sanskar.jpg" alt="logo">
            </div> 
        </a>
                    <span class="example-spacer"></span>
                   
                  
       
                  <span mat-line>Sanskar</span>
                  
                
                    <!-- <a  routerLink="/profile" routerLinkActive="myactive">
                    <div class="profile__picture"><img src="../assets/photo.png" alt="student photo" /></div>
                    </a> -->
                

    </mat-toolbar-row>
</mat-toolbar>
       
           <app-sidenavmenus></app-sidenavmenus>
       
    </mat-sidenav>
   
    <!-- ------------ -->
    <mat-sidenav-content >
    <mat-toolbar color="primary" *ngIf="isHandset$ | async">
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="sidenav.toggle()">
              
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <div class="layout brand">
                    
                    </div>
          </mat-toolbar>
        <main>
               
            <router-outlet>
                

                
              
            </router-outlet>
        
        </main>
    </mat-sidenav-content>
    
</mat-sidenav-container>

