
.sidenav_half{
  width: 4rem;
}
.sidenav_full{
  width: 16rem;
}
.margin-top{
  margin-top: 2rem auto;
}
.example-container{
  
  position: fixed;
  z-index: 95;
  top: 3rem;
  width: 100%;
  height: 100vh;
}
.content{
  display: flex;
  flex:1;
  height: 100%;
  /* align-items: center; */
  justify-content: center;
  padding-bottom: 3rem;
}
@media(min-width: 320px){
  .content{
    padding-bottom:3rem; 
  }
}