
.sidenav_half{
  width: 14rem;
}
/* .sidenav_half:hover{
  width: 14rem;
  transition: .6s all;
} */
.sidenav_full{
  width: 14rem;
}
@media(min-width:720px){
  mat-sidenav{
    position: fixed;
    top: 1rem;
    left: 1rem; 
    bottom: 1rem;
    border-radius: 10px;
  }
}

.margin-top{
  margin-top: 2rem auto;
}
.example-container{
  
  position: fixed;
  z-index: 95;
  top: 0rem;
  width: 100%;
  height: 100%;
}

mat-sidenav-content{
  position: relative;
  background: #ffffff;
}

@media(min-width: 320px){
  .content{
    padding-bottom:3rem; 
  }
}