/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~material-icons/iconfont/material-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
button:focus{
    outline: none !important;
    border: none !important;
  }


.card{
	/* margin-top: 1rem!important; */
}


/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.my_shadow{

box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.17) !important;
}
.my_shadow1{
  box-shadow: 0 0 10px #00000017!important;
  /* border-radius: 4px; */
}

.layout {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  /* height: 100vh; */
}

.bar{
  min-width:10rem;
  height: 3rem;
  border-radius: 5rem;
  box-shadow: 0 0 10px #00000017;
  background: white;
  margin: 0 auto ;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-box-align: center;
  align-items: center;
display: -webkit-box;
display: flex;
-webkit-box-pack: center;
  justify-content: center;
  padding: 0 1rem;
  
}