/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~material-icons/iconfont/material-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

@import url(./style/background.scss);
@import url(./style/button.scss);
@import url(./style/flex.scss);
@import url(./style/font.size.scss);
@import url(./style/gardient.scss);
@import url(./style/glass.scss);
@import url(./style/helper.scss);
@import url(./style/images.scss);
@import url(./style/keyframes.scss);
@import url(./style/loader.scss);
@import url(./style/material.override.scss);
@import url(./style/scrollbar.scss);



*,
body,
html,
p,
ul,
li,
a,
span,
small,
p,
h1,
h2,
h3,
h4,
h6,
div,
section,
form,
input,
select,
button,
mat-toolbar,
mat-card,
mat-form-field,
mat-list-item,
mat-button {
  font-family: 'Ubuntu', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

form {
  padding: 0;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

.layout {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;

}

mat-icon.mat-icon-sm {
  font-size: 1rem;
  padding-top: 6px;
}

mat-icon.mat-icon-md {
  font-size: 1.2rem;
  padding-top: 6px;
}

.mat-icon-light {
  color: rgb(55, 54, 58) !important;
}

a {
  text-decoration: none;
}

.active,
.selected {
  color: orangered !important;

}

.selected {
  font-weight: 600;
  color: rgb(0, 0, 0) !important;

}

.active_sublink {
  color: orangered !important;
}

.text-wrap-sm {
  max-width: 4rem;
  padding: 2px .5rem;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
}

.text-wrap-md {
  max-width: 9rem;
  min-width: 4rem;
  padding: 0 6px;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
}

.text-wrap-lg {
  max-width: 15rem;
  min-width: 4rem;
  padding: 0 6px;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
}

.text-mylight {
  color: rgb(121, 121, 121) !important;
}





.strong {
  font-weight: 600;
}



small.small {
  color: rgb(121, 121, 121);
  font-size: 0.7rem;
}

p {
  padding: 0;
  // color: rgb(54, 54, 54);
}

.bb {
  border-bottom: 1px solid #ccc !important;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 1% !important;
}

.titlecase {
  text-transform: capitalize;
}

.border-bottom-0 {
  border-bottom-left-radius: 0px !important;
  ;
  border-bottom-right-radius: 0px !important;
}