/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~material-icons/iconfont/material-icons.css";

@-webkit-keyframes popUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes popUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
.slideUp{
  -webkit-animation: fadeIn ease-in-out 450ms;
        animation: fadeIn ease-in-out 450ms;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.fadeIn{
  -webkit-animation: fadeIn ease-in-out 450ms;
        animation: fadeIn ease-in-out 450ms;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.spin{
  -webkit-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
}
@keyframes shake {
  from {
    -webkit-transform: rotate(10deg);
  }
  to {
   -webkit-transform-origin:center center;
   -webkit-transform: rotate(-10deg);
  }
}
mat-card{
  -webkit-animation: popUp ease-in-out 350ms;
      animation: popUp ease-in-out 350ms;
}



// input[type="search"]{
//   border:none;
//   background: transparent;
  
//   outline: none;
//   position: relative;
//   width: 100%;
//  padding: 0 1rem;
//  }

.bg-mydark{
  background: #000000;  
background: -webkit-linear-gradient(to top, #434343, #000000a2, #434343,);  
background: linear-gradient(to top, #434343, #000000);
}
.bg-dark-300{
  background-color: #333333;
}
.bg-dark-400{
  background-color: #424242;
}
.box_shadow_4{
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.box_shadow_3{
    box-shadow: 0 0 10px 0 #00000015
    !important;
  }
.box_shadow_2{
    box-sizing: border-box;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    margin: 0px auto 16px;
    padding: 24px;
    transition: box-shadow 0.25s ease 0s;
}
.box_shadow_1{
    box-shadow: 0px 1px 4px rgba(0,0,0,0.25)!important;
  }
.box_shadow_0{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.164)!important;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer{
    flex: 1 1 auto;
  }
  
  .layout {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    
  }

  mat-icon.mat-icon-sm{
    font-size: 1rem;
    padding-top: 6px;
  }
  mat-icon.mat-icon-md{
    font-size: 1.2rem;
    padding-top: 6px;
  }
  .mat-icon-light{
    color: rgb(55, 54, 58)!important;
  }
a{text-decoration: none;}
  .active{
    color: orangered !important;

  }
  .active_sublink{
    color: orangered !important;
  }

  .text-wrap-sm{
    max-width: 4rem;
    padding: 2px .5rem;
    text-overflow: ellipsis;
    overflow: hidden!important;
    white-space: nowrap;
  }
  .text-wrap-md{
    max-width: 9rem;
    min-width: 4rem;
    padding: 0 6px;
    text-overflow: ellipsis;
    overflow: hidden!important;
    white-space: nowrap;
  }

  .text-wrap-lg{
    max-width: 15rem;
    min-width: 4rem;
    padding: 0 6px;
    text-overflow: ellipsis;
    overflow: hidden!important;
    white-space: nowrap;
  }

  .text-mylight{
    color : rgb(121, 121, 121)!important;
  }


   // custom scrollbar for dialog-content
   *{
    scrollbar-color: rgba(0,0,0,.2) hsla(0,0%,100%,.1);
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  // background-color: rgba(146, 146, 146, 0.37);
  visibility: hidden!important;
}
// *:hover::-webkit-scrollbar{
//   visibility: visible;
// }
*::-webkit-scrollbar-thumb {
  background-color: rgba(146, 146, 146, 0.336); 
  border-radius: 6rem;
  visibility: hidden;
}

.mat-drawer-inner-container:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  transition: 10ms all;
}
.strong{
  font-weight: 600;
}


.avatar-md{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
.avatar-sm{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
.img-preview{
  height: calc(100vh - 22rem);
  border-radius: .2rem;
  flex-shrink: 0;
  object-fit: cover;
}
.thumbnail-md{
  height: 6rem;
  width: 6rem;
  border-radius: 0.2rem;
  flex-shrink: 0;
  object-fit: cover;
}
.thumbnail-lg{
  height: 10rem;
  width: 10rem;
  border-radius: 0.2rem;
  flex-shrink: 0;
  object-fit: cover;
}

small.small{
  color : rgb(121, 121, 121);
  font-size: 0.7rem;
}
p{
  padding: 0;
  // color: rgb(54, 54, 54);
}

.bg-mylight{
  background-color: rgb(198, 237, 255);
}
.chat-bubble{
  padding: 0.1rem 1rem;
  height: auto;
  margin-bottom: 2px;
  border-radius: 0.25rem;
  overflow-wrap: break-word;
  display: inline-flex;
  width: auto;
  // max-width: calc(50vw - 10rem);
  flex-direction: column;
  border: .01px solid rgba(105, 106, 134, 0.041);

}
.bg-mylight-1{
  background-color: rgb(217, 232, 255);
}
.bg-mylight-2{
  background-color: rgb(255, 248, 235);
}
.bg-mylight-3{
  background-color: rgb(255, 242, 185);
}
.bg-mylight-4{
  background-color: rgb(179, 179, 179);
}

.box-shadow-1{
  box-shadow: 0px 30px 30px -20px rgba(0,0,0,0.1);
}
.box_shadow_5{
  box-shadow: 0px 30px 30px -20px rgba(0,0,0,0.1);
}
.box_shadow_4{
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.box_shadow_3{
    box-shadow: 0 0 10px 0 #00000015
    !important;
  }
.box_shadow_2{
    box-sizing: border-box;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    margin: 0px auto 16px;
    padding: 24px;
    transition: box-shadow 0.25s ease 0s;
}
.box_shadow_1{
    box-shadow: 0px 1px 4px rgba(0,0,0,0.25)!important;
  }
  .neo_shadow_1{
    background: linear-gradient(145deg, #dedede, #ffffff);
    box-shadow:  20px 20px 60px #d2d2d2, 
                 -20px -20px 60px #ffffff;
  }
.box-shadow-0{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.164)!important;
  }

::ng-deep mat-toolbar mat-toolbar-row  {

    max-height: 48px;
    padding: 0;
}
::ng-deep mat-toolbar.mat-toolbar-multiple-rows {
    max-height: 48px;
    min-height: 48px;
    padding: 0;
}
// ::ng-deep mat-toolbar{
//     height: 48px;
// }
.mat-tab-link{
  min-width: 54px;
}

.glass{
background: rgb(255, 255, 255);
// box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
.mat-dialog-container{
  // padding: 0;
  // margin: 0;
  overflow: hidden;
  background-color: transparent;
  backdrop-filter: blur( 10.0px );
  .mat-dialog-content{
    padding: 0;
    margin: 0;
  }

}
}

.dialog-container-pt-0{
  .mat-dialog-container{
    padding-top: 0;
  }
}

.glass{
background: rgba( 35, 35, 32, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}