<section class="pb-5"> 
      <app-toolbar [title]="'Student Registration'" [sticky]="true"></app-toolbar>
    <div class="row justify-content-center m-0 my-4">
            <!-- <mat-card class="background-white br-10 elevation m-0">
                <app-milestone [data]="mileStoneService.studentRegistrationMileStone | async"  [sticky]="true"></app-milestone>
            </mat-card>
         -->
        <div class="col-lg-8 col-md-8 fadeIn" >
            <mat-card class="elevation" style="font-size: 12px;">
                <mat-horizontal-stepper #stepper>
                    <mat-divider></mat-divider>
                    <mat-step label="Student's Information" state="student">
                        <div class="my-5 glass">
                            <mat-toolbar color="primary" class="justify-content-center border-top-radius">
                                <span style="text-transform: uppercase;">Student Form</span>
                            </mat-toolbar>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <ng-container>
                                        <app-student-form></app-student-form>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </mat-step>
                    <mat-step state="parent">
                        <div class="my-4">
                            <ng-template matStepLabel>Parents Information</ng-template>
                            <mat-toolbar color="primary" class="justify-content-center border-top-radius">
                                <span style="text-transform: uppercase;">Parents Information</span>
                            </mat-toolbar>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <app-parent-form></app-parent-form>
                                </div>
                            </div>

                        </div>
                    </mat-step>
                    <mat-step state="address">
                        <div class="my-4">
                            <ng-template matStepLabel>Permanent Address</ng-template>
                            <mat-toolbar color="primary" class="justify-content-center">
                                <span style="text-transform: uppercase;">Permanent Address</span>
                            </mat-toolbar>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <app-permanent-address-form></app-permanent-address-form>
                                </div>
                            </div>

                        </div>
                    </mat-step>
                    <mat-step state="address">
                        <div class="my-4">
                            <ng-template matStepLabel>Local Address</ng-template>
                            <mat-toolbar color="primary" class="justify-content-center border-top-radius">
                                <span style="text-transform: uppercase;">Local Address</span>
                            </mat-toolbar>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <app-local-address-form></app-local-address-form>
                                </div>
                            </div>

                        </div>
                    </mat-step>
                    <!-- Icon overrides. -->
                    <ng-template matStepperIcon="student">
                        <mat-icon>aacount_circle</mat-icon>
                    </ng-template>
                    <ng-template matStepperIcon="parent">
                        <mat-icon>group</mat-icon>
                    </ng-template>
                    <ng-template matStepperIcon="address">
                        <mat-icon>address</mat-icon>
                    </ng-template>
                </mat-horizontal-stepper>
            </mat-card>
        </div>
    </div>
</section>