
section{
  overflow-y: scroll;
  height: calc(100% - var(--height-topbar) - var(--height-breadcrumb)   );
}

mat-step-header:hover {
  border-radius: 50px !important;
  background-color: rgba(0, 0, 0, .04);
}

