<section style="min-height: calc(100vh-6rem);" style="margin-bottom: 5rem;">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 fadeIn" style="max-height: 100vh;">
            <mat-card class="card border-0  p-0" style="font-size: 12px;background: #ccc;">
                <mat-horizontal-stepper #stepper>
                    <mat-step label="Fill Student Data" state="student">
                        <div class="my-4">
                            
                            <mat-toolbar color="primary" class="justify-content-center">
                                <span style="text-transform: uppercase;">Student Form</span>
                            </mat-toolbar>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <app-json-form [formFields]="admissionFormFields"
                                        (onSubmit)="onStudentFormSubmit($event)"></app-json-form>
                                </div>
                            </div>

                        </div>
                    </mat-step>
                    <mat-step state="parent">
                        <div class="my-4">
                            <ng-template matStepLabel>Parents Information</ng-template>
                            <mat-toolbar color="primary" class="justify-content-center">
                                <span style="text-transform: uppercase;">Parents Information</span>
                            </mat-toolbar>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <app-json-form [formFields]="parentsFormFields"
                                        (onSubmit)="onSubmitParentFormFields($event)"></app-json-form>
                                </div>
                            </div>

                        </div>
                    </mat-step>
                    <mat-step state="address">
                        <div class="my-4">
                            <ng-template matStepLabel>Fill Student Data</ng-template>
                            <mat-toolbar color="primary" class="justify-content-center">
                                <span style="text-transform: uppercase;">Student Form</span>
                            </mat-toolbar>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <app-json-form [formFields]="permanentAddressFormFields"
                                        (onSubmit)="onSubmitPermanentAddressFormFields($event)"></app-json-form>
                                </div>
                            </div>

                        </div>
                    </mat-step>
                    <mat-step state="address">
                        <div class="my-4">
                            <ng-template matStepLabel>Fill Student Data</ng-template>
                            <mat-toolbar color="primary" class="justify-content-center">
                                <span style="text-transform: uppercase;">Student Form</span>
                            </mat-toolbar>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <app-json-form [formFields]="localAddressFormFields"
                                        (onSubmit)="onSubmitLocalAddressFormFields($event)"></app-json-form>
                                </div>
                            </div>

                        </div>
                    </mat-step>
                    <!-- Icon overrides. -->
                    <ng-template matStepperIcon="student">
                        <mat-icon>aacount_circle</mat-icon>
                    </ng-template>
                    <ng-template matStepperIcon="parent">
                        <mat-icon>group</mat-icon>
                    </ng-template>
                    <ng-template matStepperIcon="address">
                        <mat-icon>address</mat-icon>
                    </ng-template>
                </mat-horizontal-stepper>
            </mat-card>
        </div>
    </div>
</section>