.row{
    padding: 10px;
}

.card{
    margin: 10px;
}

.material-icons{
    font-size: 30px;
}

button span{
    font-size: 22px;
}

.action-buttons button{
    margin : 5px;
}
.mat-radio-button {
    margin: 0 12px;
  }
  .example-full-width {
    width: 100%;
  }
  td {
    padding-right: 8px;
  }
  .student_image{
      max-width: 10rem;
      min-width: 10rem;
      max-height: 10rem;
      min-height: 10rem;
      overflow: hidden;
  }
  .student_image img{
      background-position: center;
      background-size: cover;
  }
  button{
      margin-left: 1rem;
      
  }
 mat-form-field{
     height: 2rem;
     background-color: aliceblue;
 }