.mat-stepper-horizontal {
    
    margin: .8rem;
    background: transparent;
  }
  .card_img{
    position: absolute;
    z-index: -1;
    float: left;
    height: 200px;
  }
  ::ng-deep .mat-step-header:hover,.mat-step-header:active {
    border-radius: 50px!important;
    height: 3rem;
    background-color: rgba(0,0,0,.04);
  }
  mat-step-header:hover {
    border-radius: 50px!important;
    height: 3rem;
    background-color: rgba(0,0,0,.04);
  }
.row{
    padding: 1rem;
}
.save_and_next_button{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.card{
    margin: 1rem;
}
.stepper_card{
    width: 93vw;
    height: 95%;
}
@media only screen and (max-width: 600px) {
  .stepper_card {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
  } 
  }
.material-icons{
    font-size: 30px;
}

button span{
    font-size: 22px;
}

.action-buttons button{
    margin : 5px;
}
.mat-radio-button {
    margin: 0 12px;
  }
  .example-full-width {
    width: 100%;
  }
  td {
    padding-right: 8px;
  }
  .student_image{
      
  }
  .student_image img{
      background-position: center;
      background-size: cover;
  }
  button{
      margin-left: 1rem;
      
  }
  button.upload_button{
      position: absolute;
      bottom: .5rem;
      margin: 0rem!important;
      left: 50%;
      transform: translate(-50%);
  }
  div.mycard{
      margin-top: .5rem;
      width: 15rem;
      max-height: 15rem;
      min-height: 15rem;
      overflow: hidden;
  }
  @media only screen and (max-width: 768
  px) {
    div.card {
      margin-top: 1rem;
      margin-left: 0px;
      margin-right: 0px;
      
    }
    div.container{
        margin: 0;
        padding: 0;
    }
  }
  input[type="file"]
{
    visibility: hidden;
}