
/* // custom scrollbar for sidenav-content */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  /* // background-color: rgba(146, 146, 146, 0.37); */
  visibility: hidden;
}
:hover::-webkit-scrollbar{
  visibility: visible;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(146, 146, 146, 0.404); 
  border-radius: 6rem;
  visibility: hidden;
}
:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}


@media(max-width:600px){
  .col-md-4,.col-sm-12,.col-md-8{ padding: 0!important;
  text-align: center;}

  .my_shadow_container{
    border-radius: 0px!important;
    margin-top: 0px!important;
    width: 100vw!important;
  }

}
.stepper_card{
  
    width: 100%;
    min-height: 80vh;
    
}

.my_shadow_container{
  /* background: #ffffff; */
  border-radius: 6px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.17);
  /* margin-top: 40px; */
  
  position: relative;
  /* width: 100%;
  height: 100%; */
  
  
}
.profile__picture {
  /* background: #ffffff; */
  border-radius: 100px;
  border: 10px solid #ffffff;
  height: 200px;
  /* position: absolute; */
  top: 0px;
  left: 4px;
  width: 200px;
}

.profile__picture img {
  border-radius: 100px;
  height: 100%;
  width: 100%;
}
.mat-vertical-stepper {
   
    // margin: .8rem;
    /* background: transparent; */
  }
  .card_img{
    position: absolute;
    z-index: -1;
    float: left;
    height: 200px;
  }
  .stepper_form{
    position: relative;
  }
  // ::ng-deep .mat-step-header:hover,.mat-step-header:active {
  //   border-radius: 50px!important;
  //   height: 3rem;
  //   background-color: rgba(0,0,0,.04);
  // }

  mat-step-header:hover {
    border-radius: 50px!important;
    // height: 3rem;
    background-color: rgba(0,0,0,.04);
  }

@media only screen and (max-width: 600px) {
  .card {
    margin: 0;
    padding: 0;
    margin-top: 0!important;
    
  } 
  .save_and_next_button{
    height: 2rem;
      margin-bottom: 3rem!important;
      padding: 0 1rem;
      text-align: center;
      
    }
  }
.material-icons{
    font-size: 30px;
}

button span{
    font-size: 22px;
}
.save_and_next_button{
height: 2rem;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  
}
.action-buttons button{
    margin : 5px;
}
.mat-radio-button {
    margin: 0 12px;
  }
  .example-full-width {
    width: 100%;
  }
  td {
    padding-right: 8px;
  }
  .student_image{
      
  }
  .student_image img{
      background-position: center;
      background-size: cover;
  }
  button{
      margin-left: 1rem;
      
  }
  button.upload_button{
      position: absolute;
      bottom: .5rem;
      margin: 0rem!important;
      left: 50%;
      transform: translate(-50%);
  }
  div.mycard{
      margin-top: .5rem;
      width: 15rem;
      max-height: 15rem;
      min-height: 15rem;
      overflow: hidden;
  }
  @media only screen and (max-width: 768px) {
    div.card {
      margin-top: 1rem;
      margin-left: 0px;
      margin-right: 0px;
      
    }
    div.container{
        margin: 0;
        padding: 0;
    }
  }
  input[type="file"]
{
    visibility: hidden;
}
.last_stepper_img{
  align-self: center;
  opacity: .5;
  position: absolute;
  z-index: -1;
  max-height: 70vh;
  background-size: cover;
  background-position: center;
}

.form-row {
	background: #ffffff;
	border-radius: 4px;
	height: 40px;
	margin: 10px;
	overflow: hidden;
	position: relative;
	width: 150px;
}

.form-input {
	-webkit-appearance: none;
	appearance: none;
}

.form-input::before {
	content: '';
	cursor: pointer;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.form-input:checked::before {
	background: #21209c;
}




.form-label {
	color: #21209c;
	z-index: 1;
  margin-bottom: 0;
	/*position: absolute; This is an alternative option */
}

.form-input:checked ~ .form-label {
	color: #ffffff;
  
}
.form-input:checked ~ .material-symbols-outlined {
	color: #ffffff;
  
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}
