.breadcrumb-container {
    background: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: nowrap;
    a,
    a:hover,
    span:hover {
      color: dimgrey;
      text-decoration: none;
    }
    span:last-child span{
      color: var(--color-white);
    }
    span:last-child::after {
      content: "";
    }
  }