<div mat-dialog-title class="bg-secondary pt-n4">Transcation 
    <button mat-icon-button [mat-dialog-close]="true" class="mini_icon_button float-right"><mat-icon style="font-size:1rem">clear</mat-icon> </button>
</div>
<div mat-dialog-content style="margin:0px!important;">
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, natus. Aut quibusdam nulla consequatur harum. Ex necessitatibus consequuntur, delectus voluptatibus, quis accusantium optio nobis eius vitae officiis, adipisci numquam possimus?</p>
    </div>
</div>
