<div  mat-dialog-title class="d-flex align-items-center mt-n4 mr-n4 ml-n4 bg-dark-400" >
    <small  class="strong text-light pr-3 pl-2">Master Fee Category</small> 
    <div class="spacer"></div>
    <button mat-icon-button [mat-dialog-close]="true" >
        <mat-icon class="mat-icon-sm pt-0 material-icons-outlined text-mylight">close</mat-icon>
     </button>
</div>
<div mat-dialog-content>
    <div class="row justify-content-center py-5">
        <div class="col-md-8">
            <form [formGroup]="feeFromGroup"  class="w-100">
                <ng-container *ngFor="let field of feeFormFields?.controls">
                    <div class="row " *ngIf="field.type === 'text'">
                        <div class="col-3 text-left justify-content-center">
                            <small>{{field.label}}{{field.validators?.required ? '*' : ''}}</small>
                        </div>
                        <div class="col-9 text-left">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{field.label}}</mat-label>
                                <input matInput placeholder="Ex:Examination Fee" [formControlName]="field.name" [value]="field.value">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row" *ngIf="field.type === 'textarea'">
                        <div class="col-3 text-left">
                            <small>{{field.label}} {{field.validators?.required ? '*' : ''}}</small>
                    z    </div>
                        <div class="col-9 text-left">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{field.label}}</mat-label>
                                <textarea matInput placeholder="Ex:description" [formControlName]="field.name"></textarea>
                                <!-- <mat-hint>{{field.hint}}</mat-hint> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <ng-container *ngIf="field.type === 'radio'">
                        <div class="row my-4">
                            <div class="col-3 text-left">
                                <small>{{field.label}} {{field.validators?.required ? '*' : ''}}</small>
                            </div>
                            <div class="col-9 text-left">
                                <mat-radio-group [formControlName]="field.name">
                                    <mat-radio-button class="mr-4 w-50" *ngFor="let opt of field.options" [value]="opt.value">
                                        {{opt.label}}
                                    </mat-radio-button>
                                </mat-radio-group> 
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </form>
            
        </div>
    </div>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="feeFromGroup.invalid">Submit</button>

</div>
