<div class="py-4 px-4">
    <div class="row">
      <div class="col-6 col-auto mr-auto">
        <form class="d-flex  mb-4 ">
          <input class="form-control mr-sm-2 w-100" type="text" placeholder="Find by name, email or role"
            aria-label="Search" (keyup)="applyFilter($event)">
          <div>
            <button mat-raised-button color="primary">
              <!-- <mat-icon class="mat-icon-sm">search</mat-icon> -->
              <small>Search</small>
            </button>
          </div>
        </form>
      </div>
      <div class="col-auto">
             <span class="px-1" >
                <button mat-raised-button color="primary"  (click)="addNewClass()" >
                  <mat-icon class="mat-icon-sm pt-1">add_box</mat-icon>
                    <small>
                      New Class
                    </small>
                </button>
            </span>
            <span class="px-1" >
              <button mat-raised-button color="primary" [matMenuTriggerFor]="session" #t="matMenuTrigger">
                <small>
                  Session
                </small>
                <mat-icon class="mat-icon-sm pt-1">{{t.menuOpen? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
              </button>
              <mat-menu #session="matMenu" hasBackdrop="true">
                <button mat-menu-item>
                  <mat-icon class="mat-icon-sm pt-1 text-success">check_box</mat-icon>
                  <small>2018-2019</small>
                </button>
                <button mat-menu-item>
                  <mat-icon class="mat-icon-sm pt-1 text-mylight">check_box_outline_blank</mat-icon>
                  <small>2019-2020</small>
                </button> <button mat-menu-item>
                  <mat-icon class="mat-icon-sm pt-1 text-mylight">check_box_outline_blank</mat-icon>
                  <small>2020-2021</small>
                </button>
              </mat-menu>

            </span>
                                        
        
      </div>
    </div>
  </div>

<div class="container px-4">
    <h4>Registered Class List</h4>   
    <hr>
</div>
<div class="px-0">

<div class="row bg-white px-4  ">
    <div class="col-sm-4">Class-Id</div>
    <div class="col-sm-4">Class-Name</div>
    <div class="col-sm-4">Faculty-Name</div>
</div>


</div>


