<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="jumbotron">
                <mat-list>
                    <!-- dark Theme -->
                    <mat-list-item>
                        <p mat-line>Dark Theme</p>
                        <mat-slide-toggle>

                        </mat-slide-toggle>
                    </mat-list-item>
                    <!-- fullscreen -->
                    <mat-list-item>
                        <p mat-line>fullscreen</p>
                        <mat-slide-toggle>

                        </mat-slide-toggle>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>
